<ng-template #popTemplate>
  <div class="list-group row px-0 mx-0">
    <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>


    <a href="#" class="list-group-item list-group-item-action list-group-item-primary">This is a primary list group item</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">This is a secondary list group item</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-success">This is a success list group item</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-danger">This is a danger list group item</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-warning">This is a warning list group item</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-info">This is a info list group item</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">This is a light list group item</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-dark">This is a dark list group item</a>
  </div>
  <button class="btn btn-block btn-success">Approve</button>
  <button class="btn btn-block btn-danger">Reject</button>
</ng-template>

<nav class="navbar navbar-toggleable-sm navbar-dark bg-dark">
  <button (click)="isCollapsed = !isCollapsed" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <fa [name]="'bars'" [fixed]="'true'"></fa>
  </button>
  <span class="navbar-brand" routerLink="/home">NLF</span>
  <div [collapse]="isCollapsed" class="collapse navbar-collapse justify-content-between" id="navbar">

    <ul class="navbar-nav">

      <li class="nav-item active">
        <a class="nav-item nav-link" routerLink="/users">Users</a>
      </li>


      <li dropdown class="nav-item dropdown">

        <a dropdownToggle class="nav-item nav-link dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">
          ORS
        </a>
      <div *dropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" routerLink="/ors/">ORS</a>
        <!--<a class="dropdown-item" routerLink="/ors/child">ORS Child</a> only from internal-->
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </li>
  </ul>
    <!-- Right side items -->
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/home"><fa [name]="'home-o'" [fixed]="'true'"></fa></a>
      <a class="nav-item nav-link" routerLink="user/profile"><fa [name]="'user-o'" [fixed]="'true'"></fa></a>
      <a class="nav-item nav-link" [popover]="popTemplate" placement="bottom" container="body" popoverTitle="Template ref content inside"><fa [name]="'desktop'" [fixed]="'true'"></fa></a>
      <a class="nav-item nav-link" href="#"><fa [name]="'commenting-o'" [fixed]="'true'"></fa></a>

      <!-- Custom css for notifications -->
      <a class="nav-item nav-link" href="#">
         <span class="fa-fnix-container">
           <i class="fa fa-bell-o fa-fw"></i>
           <i class="fa text-danger fa-circle fa-fnix-sub-bg fa-fw fa-fnix-sub"></i>
           <i class="fa fa-exclamation fa-inverse fa-fw fa-fnix-sub"></i>
         </span>
       </a>
        <a class="nav-item nav-link text-danger" href="#"><fa [name]="'bell-o'" [fixed]="'true'"></fa></a>

      <a *ngIf="auth.isAuthenticated()" class="nav-item nav-link" (click)="auth.logout()" routerLink="/">Logout</a>
      <a *ngIf="!auth.isAuthenticated()" class="nav-item nav-link" routerLink="/login">Login</a>
    </div>
  </div>
</nav>
