<header class="nlf-sticky-toolbar">
  <div class="container">
    <span class="breadcrumb">
      <li class="breadcrumb-item">
        <fa-icon [icon]="faPlane" class="me-1 active"></fa-icon><a [routerLink]="['/', 'aircraft']">Aircraft</a>
      </li>
      <sup class="text-danger mx-1" title="Applikasjonen er ikke ferdig utviklet">beta</sup>
    </span>

    <!--Note difference between federation, sections/activity and clubs! Section->show all club aircrafts? -->

    <span class="float-right d-inline">
      <nlf-aircrafts-add></nlf-aircrafts-add>
    </span>

  </div>
</header>

<div class="container">



  <div *ngIf="!!dataReady" class="overflow-auto">
    <ngx-table [id]="'aircraft-table'" [configuration]="tableAll" [data]="data" [columns]="columns" [(pagination)]="pagination"
      [filtersTemplate]="filtersTemplate" (event)="eventEmitted($event)">

      <!-- ROWS -->
      <ng-template let-row>
        <td class="ngx-easy-table-small">
          <a [routerLink]="['/aircraft', 'edit', row._id]">{{ row.callsign }}</a>
        </td>
        <td class="ngx-easy-table-small">
          {{ row.type }}
        </td>
        <td class="ngx-easy-table-small">
          {{ row.manufacturer }}
        </td>
        <td class="ngx-easy-table-small">
          {{ row.model }}
        </td>
        <td class="ngx-easy-table-small">
          {{ row.msn }}
        </td>
        <td class="ngx-easy-table-small text-center">
          <span class="badge" [ngClass]="{'bg-success': row.status=='ACTIVE','bg-secondary': row.status=='DELETED'}">{{ row.status }}</span>
        </td>
        <td class="ngx-easy-table-small text-center">
          <span *ngIf="!!row.e5x">
            <fa-icon class="text-success" [icon]="faCheck"></fa-icon>
          </span>
          <!--
          <span *ngIf="!row.e5x">
            <fa-icon class="text-danger" [icon]="faClose"></fa-icon>
          </span>
          -->
        </td>


      </ng-template>
    </ngx-table>

    <!--FILTERS-->


    <!-- Summary
    <span class="mx-1" *ngFor="let x of aircraft_types">
        {{ x._id.type | upperfirst }} ({{ x.count}})
    </span>
    -->
  </div>
  <div *ngIf="!dataReady">
    <nlf-ui-page-spinner></nlf-ui-page-spinner>
  </div>
</div>
