<div class="row">
  <div class="nlf-sticky-toolbar">
      <div class="container nlf-dark">
          <fa name="sitemap" fixed="true"></fa>Content spaces
      </div>
  </div>
</div>
<div class="row">
  <div class="container">
      <span *ngIf="!!dataReady">
          <ngx-table [configuration]="tableSpaces" [data]="spaces" [columns]="columns" [(pagination)]="pagination" (event)="eventEmitted($event)">

              <ng-template let-row>
                  <td class="ngx-easy-table-small">
                    <fa name="sitemap" fixed="true"></fa>&nbsp;
                    <a [routerLink]="['/content/space/', row.space_key]">{{ row.space_key }}</a>
                  </td>
                  <td class="ngx-easy-table-small">
                      <a [routerLink]="['/content/view/', row.space_key, row.slug]">{{ row.title }}</a>
                  </td>
                  <td>
                      <span class="pointer" (click)="delete(row)"><fa name="close" fixed="true"></fa></span>
                      <span class="pointer" [routerLink]="['/content/edit/', row._id]"><fa name="edit" fixed="true"></fa></span>
                      <span class="pointer" [routerLink]="['/content/create/', row._id]"><fa name="plus" fixed="true"></fa></span>
                  </td>
              </ng-template>
          </ngx-table>
      </span>
      <span *ngIf="!dataReady">
          <p class="align-middle text-center  text-secondary">
              <fa name="spinner" animation="pulse" size="3x"></fa>
          </p>
      </span>

      <a [routerLink]="['/content/create']" class="btn btn-primary">
          <fa name="plus" fixed="true"></fa>Ny space
      </a>

  </div>
</div>