ASSESMENT
<div class="col-md-12">
  <nlf-ors-editor-tag-e5x [disabled]="disabled" [(items)]="reportingHistory[0].attributes.descriptionInvestigation.plainText" path="E5X.Occurrence.ReportingHistory.DescriptionInvestigation"
    id="DescriptionInvestigation" type="textarea"></nlf-ors-editor-tag-e5x>
</div>
<div class="col-md-12">
  <nlf-ors-editor-tag-e5x [disabled]="disabled" [(items)]="reportingHistory[0].attributes.correctiveActions.plainText" path="E5X.Occurrence.ReportingHistory.CorrectiveActions"
    id="CorrectiveActions"></nlf-ors-editor-tag-e5x>
</div>
<div class="col-md-12">
  <nlf-ors-editor-tag-e5x [disabled]="disabled" [(items)]="reportingHistory[0].attributes.conclusions.plainText" path="E5X.Occurrence.ReportingHistory.Conclusions"
    id="Conclusions" type="textarea"></nlf-ors-editor-tag-e5x>
</div>
