<span *ngIf="!!dataReady">
    <ngx-table [configuration]="tableAll" [data]="data" [columns]="columns" [(pagination)]="pagination" (event)="eventEmitted($event)">

        <ng-template let-row>
            <td class="ngx-easy-table-small">
                <a [routerLink]="['/ors/fallskjerm/report/', row.id]">{{ row.id }}</a>
            </td>
            <td class="ngx-easy-table-small">
                {{ row.when | date:"yyyy-MM-dd HH:mm" }}
            </td>
            <td class="ngx-easy-table-small">
                <a [routerLink]="['/ors/fallskjerm/report/', row.id]">{{ row.tags | nlfOrsTags: seperator:' / ' }}</a>
            </td>
            <td class="ngx-easy-table-small">
                <span *ngIf="!!row.club">
                    <nlf-resolve-club [clubid]="row.club"></nlf-resolve-club>
                </span>
            </td>
            <td class="ngx-easy-table-small">
                <span *ngIf="!!row.rating">
                    <!--{{ row.rating.actual }} av {{ row.rating.potential }}: {{ row.rating | nlfOrsRatingCalc }}-->
                    <progressbar class="progress-striped active" [value]="row.rating | nlfOrsRatingCalc" [type]="row.rating | nlfOrsRatingCalc | nlfDynamicColor">{{ row.rating | nlfOrsRatingCalc }}</progressbar>
                </span>
            </td>
            <td class="ngx-easy-table-small">
                <span *ngIf="!!row.workflow.state">
                    {{ row.workflow.state | nlfOrsState }}
                </span>
            </td>
            <td [innerHTML]="row.type | nlfOrsType" class="ngx-easy-table-small">
            </td>

        </ng-template>
    </ngx-table>
</span>
<span *ngIf="!dataReady">
    <p class="align-middle text-center  text-secondary">
        <fa name="spinner" animation="pulse" size="3x"></fa>
    </p>
</span>