<div *ngIf="dataReady && !canCreate()" class="alert alert-primary" role="alert">
  Motorfly er nede for vedlikehold
</div>

<!-- QUICKSELECT DEFAULT DISCIPLINE -->
<span *ngIf="dataReady && canCreate() && defaultBtn && userData.settings.default_activity==238">

  <button *ngIf="!!userData.settings && canCreate() && !loading"
    (click)="createObservation(userData.settings.default_discipline, userData.settings.default_club, userData.settings.default_activity)"
    class="btn btn-block btn-success btn-lg my-1">
    <fa-icon icon="plus" [fixed]="true"></fa-icon>
    <nlf-resolve-lungo-organization [organization_id]="userData.settings.default_discipline" show_activity="false">
    </nlf-resolve-lungo-organization>
  </button>

</span>

<!-- NORMAL SELECT DROPDOWN -->
<span *ngIf="dataReady && !defaultBtn && canCreate()">

  <span *ngIf="!loading">

    <div class="row">
      <div class="col">
        <select class="form-control" id="motorflyklubb" [(ngModel)]="selected">
          <option *ngFor="let club of clubs" [ngValue]="club.id">
            {{ club.name }}
          </option>
        </select>
      </div>
      <div class="col">
        <button [disabled]="!selected" (click)="createObservation()" class="btn btn-block btn-success btn-lg">
          <fa-icon icon="plus" [fixed]="true"></fa-icon>Opprett ny OBSREG
        </button>
      </div>
    </div>
  </span>

</span>

<span *ngIf="loading">
  <fa-icon icon="spinner" animation="pulse" size="3x"></fa-icon>
  <p class="lead">Oppretter OBSREG...</p>
</span>


<ngb-alert *ngIf="!!error" type="danger" [dismissible]="true">
  <fa-icon icon="exclamation-triangle" [fixed]="true"></fa-icon>
  Kunne ikke opprette OBSREG
</ngb-alert>

<!-- End page -->
<span *ngIf="!dataReady">
  <fa-icon icon="spinner" animation="pulse" size="3x"></fa-icon>
</span>