<div *ngIf="dataReady">
  <div class="list-group  list-group-flush">

    <a [routerLink]="['/ors/fallskjerm/report', o.id]" *ngFor="let o of data" class="small list-group-item list-group-item-action d-flex justify-content-between align-items-center">
      #{{ o.id }} {{ o.tags | nlfOrsTags:'/' }}<fa *ngIf="o.files?.length > 0" name="paperclip" fixed="true"></fa>
      <span class="badge badge-{{o.rating | nlfOrsRatingCalc | nlfDynamicColor}} badge-pill">{{ o.rating | nlfOrsRatingCalc }}</span>
    </a>
  </div>
</div>
<div *ngIf="!dataReady">
  <p class="align-middle text-center  text-secondary">
    <fa name="spinner" animation="pulse" size="3x"></fa>
  </p>
</div>