<span class="pointer text-info" (click)="open(logModal)">
  <fa-icon icon="align-justify"></fa-icon> Logg
</span>

<ng-template #logModal>

  <div class="modal-header">
    <h4 class="modal-title pull-left">
      Logg for: <nlf-resolve-lungo-organization *ngIf="[900001, 900002, 900003].indexOf(organization_id)===-1" [organization_id]="organization_id">
      </nlf-resolve-lungo-organization>
      <span *ngIf="organization_id == 900001">*Lisenser</span>
      <span *ngIf="organization_id == 900002">*Kompetanser</span>
      <span *ngIf="organization_id == 900003">*Payments</span>
    </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div *ngFor="let row of log">
      {{ row }}
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-outline-dark" (click)="modalRef.close()">Ferdig</button>
  </div>

</ng-template>