<header class="nlf-sticky-toolbar">
  <div class="container lead">
    ORS Fallskjerm

    <!--
    <button [routerLink]="['/ors', 'fallskjerm', 'dashboard']" type="button" class="btn btn-sm btn-link pull-right mx-1">
      <fa name="dashboard" [fixed]="true"></fa> Dash
    </button>
    <button [routerLink]="['/ors', 'fallskjerm', 'stats']" type="button" class="btn btn-sm btn-link pull-right mx-1">
      <fa name="pie-chart" [fixed]="true"></fa> Stats
    </button>
  -->

    <button [routerLink]="['/ors', 'fallskjerm', 'search']" type="button" class="btn btn-sm btn-primary pull-right mx-1">
      <fa name="search" [fixed]="true"></fa> Søk
    </button>

    <button *ngIf="!!user_settings && user_settings?.settings?.default_activity==109" [routerLink]="['/ors', 'fallskjerm', 'dashboard', user_settings?.settings?.default_discipline]" type="button" class="btn btn-sm btn-primary pull-right mx-1">
      <fa name="dashboard" [fixed]="true"></fa> Dashboard
    </button>

    <nlf-ors-go activity="fallskjerm" class="pull-right mx-1"></nlf-ors-go>
    <!--
    <span class="input-group input-group-sm pull-right mx-1" style="max-width: 100px !important">
      <div class="input-group-prepend bg-transparent">
        <span class="input-group-text bg-transparent">
          <fa name="hashtag" [fixed]="true" class="text-secondary"></fa>
        </span>
      </div>
      <input id="orsGO" #orsGO type="search" (keyup.enter)="orsGOTO(orsGO.value)" class="form-control form-control-sm border-left-0">
    </span>
  -->

    <nlf-help class="pull-right mx-1" key="ors-fallskjerm"></nlf-help>

  </div>


</header>

<div class="container">

  <div class="row">

    <div class="col-md-6 col-xs-12 overflow-auto">
      <div class="nlf-ors-toolbar">
        <fa name="user" [fixed]="true" class="text-secondary"></fa> Mine observasjoner
      </div>
      <nlf-ors-self-table activity="fallskjerm"></nlf-ors-self-table>
    </div>
    <div class="col-md-6 col-xs-12 overflow-auto">
      <div class="nlf-ors-toolbar">
        <fa name="exchange" [fixed]="true" class="text-secondary"></fa> Til min behandling
      </div>
      <nlf-ors-todo-table activity="fallskjerm"></nlf-ors-todo-table>
    </div>

    <!-- Group = tight, with padding deck = spacing, no padding card-body style="padding: 0;"
      <div class="card-deck">

        <div class="card mb-3 mr-1">
          <h5 class="card-header">
            <fa name="user" [fixed]="true"></fa>Mine observasjoner</h5>
          <div class="card-body table-responsive" style="padding: 0;">

          </div>
        </div>

        <div class="card mb-3 ml-1">
          <h5 class="card-header">
            <fa name="random" [fixed]="true"></fa>Til min behandling</h5>
          <div class="card-body" style="padding: 0;">
            <nlf-ors-todo-table  activity="fallskjerm"></nlf-ors-todo-table>
          </div>
        </div>
      </div>
      -->
  </div>
</div>

<div class="py-5 nlf-bg-blue col-md-12 col-xs-12">
  <div class="container">
    <p class="m-0 text-center text-white">
      <nlf-ors-fallskjerm-create></nlf-ors-fallskjerm-create>
    </p>
  </div>
</div>

<!-- ALL ORS -->
<div class="container">
  <div class="row">
    <div class="col-md-12 col-xs-12 overflow-auto">
      <div class="nlf-ors-toolbar">
        <fa name="list" [fixed]="true" class="text-secondary"></fa> Alle observasjoner
      </div>
      <nlf-ors-all-table activity="fallskjerm"></nlf-ors-all-table>
    </div>
  </div>
</div>
