
<div class="nlf-sticky-toolbar">
  <button class="btn btn-primary pointer" (click)="addWidget()"><fa name="plus" fixed="true"></fa>Add widget</button>
</div>
<dashboard (onOrderChange)="logOrder($event)" (onDragStart)="log($event, 'ondragstart')" (onDragEnd)="log($event, 'ondragend')"
  (onDrag)="log($event, 'ondragmove')" class="dashboard" [widgetsSize]="widgetsSize" [margin]="dashboardMargin">
  <!--
<span *ngIf="!hasDash">
  <widget [size]="[2, 2]" widgetId="big" class="handle">
    <div class="head">Big widget [2, 2]</div>
  </widget>

  <widget [size]="[2, 3]" widgetId="large">
    <div widgetHandle class="head handle">Large widget [2, 1] handle only on text</div>
  </widget>
  <widget [size]="[1, 2]" widgetId="tall">
    <div widgetHandle class="head handle">Tall widget [1, 2] handle only on text</div>
  </widget>
  <widget widgetId="small" class="handle">
    <div class="head">Small widget [1, 1]</div>
  </widget>
  <widget [size]="[2, 2]" widgetId="big" class="handle">
    <div class="head">Big widget [2, 2]</div>
  </widget>
  <widget *ngFor="let item of [1, 2, 3, 4, 5, 6]; let i = index;" [widgetId]="i" class="handle">
    <div class="head">Widget {{i}} [1, 1]</div>
    <div class="close" (click)="close($event, i)">X</div>
  </widget>
</span>
-->

  <widget [size]="[1, 2]" widgetId="big" class="handle" class="bg-light">
    <div widgetHandle class="head handle">
      <fa name="arrows-alt" fixed="true"></fa>Siste lukkede ORS</div>
    <nlf-ors-fallskjerm-last [number]="8"></nlf-ors-fallskjerm-last>
  </widget>

  <widget [size]="[2, 2]" widgetId="large" class="bg-light">
    <div widgetHandle class="head handle"><fa name="arrows-alt" fixed="true"></fa>Til min behandling</div>
    <nlf-ors-fallskjerm-todo-table></nlf-ors-fallskjerm-todo-table>
  </widget>
  <widget [size]="[2, 3]" widgetId="tall" class="bg-light">
    <div widgetHandle class="head handle"><fa name="arrows-alt" fixed="true"></fa>Hopptyper</div>
    <div>
    <ngx-charts-pie-chart [labels]="true" [results]="hopptyper"></ngx-charts-pie-chart>
    </div>
 

  </widget>
  <widget [size]="[1, 2]" widgetId="small" class="bg-light">
    <div widgetHandle class="head handle"><fa name="arrows-alt" fixed="true"></fa>Hopp/klubb</div>
    <ngx-charts-bar-vertical [legend]="false"
    [xAxis]="true" [yAxis]="true" [showGridLines]="true"
      [results]="bar"></ngx-charts-bar-vertical>
  </widget>
  
  <widget [size]="[2, 2]" widgetId="big" class="handle">
      <div class="close" (click)="close($event, 'big')">X</div>
    <div class="head">Big widget [2, 2]</div>
  </widget>

  <widget *ngFor="let item of [1, 2, 3, 4, 5, 6]; let i = index;" [widgetId]="i" class="handle">
    <div class="head">Widget {{i}} [1, 1]</div>
    <div class="close" (click)="close($event, i)">X</div>
  </widget>
</dashboard>