<div class="container">
  <div class="row">
    <div class="container">
    <h2>Tester melwin og users</h2>
    <h3>Tag input test (fra tabellens data)</h3>
    <tag-input [(ngModel)]="items"  theme='bootstrap' [onlyFromAutocomplete]="true">

      <tag-input-dropdown [identifyBy]="'id'" [displayBy]="'fullname'" [showDropdownIfEmpty]="true"
                            keepOpen="false"  [autocompleteItems]="data">
          </tag-input-dropdown>
    </tag-input>
    <div class="clearfix"></div>
    <h5>Tag modell</h5>
    <ul>
    <div *ngFor="let item of items"><li>{{item.fullname}} ({{item.id}})</li></div>
    </ul>
    <div class="col-12">

    <h3>Tabell test med server paging</h3>
    <ngx-table
      [configuration]="configuration"
      [data]="data"
      [columns]="columns"
      [detailsTemplate]="detailsTemplateRef"
      [(pagination)]="pagination"
      (event)="eventEmitted($event)">


<!--
	<ng-template let-row>

    <td>
			<span class="font-small">{{row.id}}</span>
			<div class="bar bar-sm">
				<div class="bar-item" role="progressbar" [style.width]="row.id + '%'" aria-valuenow="row.id" aria-valuemin="0" aria-valuemax="10000"></div>
			</div>
		</td>


  	<td>
			<h5 class="color-green font-light">{{row.fullname}}</h5>
		</td>
    <td>
			<div class="font-small">
				{{row.phone}}
			</div>
		</td>

    <td>
			<strong><a href="mailto:{{row.email}}">{{row.email}}</a></strong>
		</td>


	</ng-template>
-->
</ngx-table>
  <ng-template #detailsTemplate let-row>
  <div>
    <h2 class="color-green">{{row.id }}</h2>
    {{row.fullname }} - {{row.phone}} - {{row.birthdate | date}} - {{row.gender}}
  </div>
</ng-template>




  </div>
</div>
  <div class="container">
  <h2>Tester resolver</h2>
  <nlf-resolve-user [userid]="-99"></nlf-resolve-user>
  <nlf-resolve-user [userid]="45199"></nlf-resolve-user>
  <nlf-resolve-user [userid]="5657"></nlf-resolve-user>
</div>
</div>
</div>
