<div class="row">
  <div class="col-md-3">
    <button [disabled]="disabled" class="btn btn-primary btn-block" (click)="add();openModal(modal, modalIdx)">
      <fa-icon icon="plus"></fa-icon>Aerodrome
    </button>
  </div>
  <div class="col-md-9">
    <div *ngFor="let drome of aerodrome; let idx = index">
      <nlf-ors-editor-tag-e5x-render classes="badge badge-danger" [items]="drome.attributes.locationIndicator.value" path="E5X.Occurrence.AerodromeGeneral.LocationIndicator"></nlf-ors-editor-tag-e5x-render>
      &nbsp;
      <nlf-ors-editor-tag-e5x-render classes="badge badge-danger" [items]="drome.attributes.surfaceType.value" path="E5X.Occurrence.AerodromeGeneral.SurfaceType"></nlf-ors-editor-tag-e5x-render>
      &nbsp;
      <nlf-ors-editor-tag-e5x-render classes="badge badge-danger" [items]="drome.attributes.aerodromeStatus.value" path="E5X.Occurrence.AerodromeGeneral.AerodromeStatus"></nlf-ors-editor-tag-e5x-render>

      <fa-icon class="mx-1" name="edit" (click)="openModal(modal, idx)"></fa-icon>
      <fa-icon class="mx-1" *ngIf="!disabled" name="close" (click)="delete(idx)"></fa-icon>
    </div>

  </div>
</div>

<!-- ROUTE MODAL -->
<ng-template #modal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">
      Aerodrome
    </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">

    <div class="row">
      <div class="col-md-12">
        <nlf-ors-editor-tag-e5x [disabled]="disabled" [(items)]="modalValue.attributes.locationIndicator.value" path="E5X.Occurrence.AerodromeGeneral.LocationIndicator" id="LocationIndicator"></nlf-ors-editor-tag-e5x>
        <span *ngIf="!modalValue.attributes.locationIndicator.value">
          <span class="mx-1 small">+ENTO</span>
          <span class="mx-1 small">+ENJB</span>
        </span>
      </div>

    </div>
    <div class="row">
      <div class="col-md-6">
        <nlf-ors-editor-tag-e5x [disabled]="disabled" [(items)]="modalValue.attributes.aerodromeLatitude.value" path="E5X.Occurrence.AerodromeGeneral.AerodromeLatitude" id="aerodromeLatitude"></nlf-ors-editor-tag-e5x>
      </div>
      <div class="col-md-6">
        <nlf-ors-editor-tag-e5x [disabled]="disabled" [(items)]="modalValue.attributes.aerodromeLongitude.value" path="E5X.Occurrence.AerodromeGeneral.AerodromeLongitude" id="aerodromeLongitude"></nlf-ors-editor-tag-e5x>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <nlf-ors-editor-tag-e5x [disabled]="disabled" [(items)]="modalValue.attributes.aerodromeStatus.value" path="E5X.Occurrence.AerodromeGeneral.AerodromeStatus" id="AerodromeStatus"></nlf-ors-editor-tag-e5x>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <nlf-ors-editor-tag-e5x [disabled]="disabled" [(items)]="modalValue.attributes.aerodromeType.value" path="E5X.Occurrence.AerodromeGeneral.AerodromeType" id="AerodromeType"></nlf-ors-editor-tag-e5x>
      </div>
      <div class="col-md-6">
        <nlf-ors-editor-tag-e5x [disabled]="disabled" [(items)]="modalValue.attributes.elevationAboveMSL.value" path="E5X.Occurrence.AerodromeGeneral.ElevationAboveMSL" id="ElevationAboveMSL"></nlf-ors-editor-tag-e5x>
      </div>
    </div>
    <!--HELIPOT -->
    <div class="row" *ngIf="modalValue.attributes.aerodromeType.value==3">
      <div class="col-md-4">
        <nlf-ors-editor-tag-e5x [disabled]="disabled" [(items)]="modalValue.attributes.landingAreaType.value" path="E5X.Occurrence.AerodromeGeneral.LandingAreaType" id="landingAreaType"></nlf-ors-editor-tag-e5x>
      </div>
      <div class="col-md-4">
        <nlf-ors-editor-tag-e5x [disabled]="disabled" [(items)]="modalValue.attributes.areaConfiguration.value" path="E5X.Occurrence.AerodromeGeneral.AreaConfiguration" id="areaConfiguration"></nlf-ors-editor-tag-e5x>
      </div>
      <div class="col-md-4">
        <nlf-ors-editor-tag-e5x [disabled]="disabled" [(items)]="modalValue.attributes.surfaceType.value" path="E5X.Occurrence.AerodromeGeneral.SurfaceType" id="surfaceType"></nlf-ors-editor-tag-e5x>
      </div>
    </div>
    <!--/HELIPORT -->
    <div class="row">
      <div class="col-md-12">
        <nlf-ors-editor-tag-e5x [disabled]="disabled" [(items)]="modalValue.attributes.locationOnNearAerodrome.value" path="E5X.Occurrence.AerodromeGeneral.LocationOnNearAerodrome" id="LocationOnNearAerodrome"></nlf-ors-editor-tag-e5x>
      </div>
    </div>

    <!-- Should also highlite row to delete on mouseover -->

    <div class="row my-2"></div>

    <div class="row" *ngFor="let runway of modalValue.entities.runway; let idx = index">
      <div class="col-md-5">
        <nlf-ors-editor-tag-e5x [disabled]="disabled" [(items)]="modalValue.entities.runway[idx].attributes.runwayIdentifier.value" path="E5X.Occurrence.AerodromeGeneral.Runway.RunwayIdentifier" id="RunwayIdentifier"></nlf-ors-editor-tag-e5x>
      </div>
      <div class="col-md-5">
        <nlf-ors-editor-tag-e5x [disabled]="disabled" [(items)]="modalValue.entities.runway[idx].attributes.surfaceType.value" path="E5X.Occurrence.AerodromeGeneral.Runway.SurfaceType" id="SurfaceType"></nlf-ors-editor-tag-e5x>
      </div>
      <div class="col-md-2 pointer">
        <fa-icon *ngIf="!disabled" (click)="deleteRunway(idx)" name="close"></fa-icon>
      </div>
    </div>

    <div class="row my-2"></div>

    <div class="row" *ngFor="let vehicle of modalValue.entities.vehicle; let idx = index">
      <div class="col-md-5">
        <nlf-ors-editor-tag-e5x [disabled]="disabled" [(items)]="modalValue.entities.vehicle[idx].attributes.typeOfVehicle.value" path="E5X.Occurrence.AerodromeGeneral.Vehicle.TypeOfVehicle" id="typeOfVehicle"></nlf-ors-editor-tag-e5x>
      </div>
      <div class="col-md-5">
        <nlf-ors-editor-tag-e5x [disabled]="disabled" [(items)]="modalValue.entities.vehicle[idx].attributes.vehicleControlled.value" path="E5X.Occurrence.AerodromeGeneral.Vehicle.VehicleControlled" id="vehicleControlled"></nlf-ors-editor-tag-e5x>
      </div>
      <div class="col-md-2 pointer">
        <fa-icon *ngIf="!disabled" (click)="deleteVehicle(idx)" name="close"></fa-icon>
      </div>
    </div>

    <div class="row my-2"></div>

    <div class="row" *ngIf="modalValue.entities.narrative.length>0">
      <div class="col-md-10">
          <nlf-ors-editor-e5x-narrative [disabled]="disabled" [(narrative)]="modalValue.entities.narrative"></nlf-ors-editor-e5x-narrative>
      </div>
      <div class="col-md-2 pointer">
        <fa-icon *ngIf="!disabled" (click)="deleteNarrative(0)" name="close"></fa-icon>
      </div>
    </div>

    <div *ngIf="devDebug" class="row">
      AC: {{ modalValue | json }}
    </div>

    <div class="row">
      <div class="col-md-4">
        <button [disabled]="disabled" class="btn btn-primary btn-block" (click)="addRunway()">
          <fa-icon icon="plus"></fa-icon>Runway
        </button>
      </div>
      <div class="col-md-4">
        <button [disabled]="disabled" class="btn btn-primary btn-block" (click)="addVehicle()">
          <fa-icon icon="plus"></fa-icon>Vehicle
        </button>
      </div>
      <div class="col-md-4">
        <button [disabled]="modalValue.entities.narrative.length>0 || disabled" class="btn btn-primary btn-block" (click)="addNarrative()">
          <fa-icon icon="plus"></fa-icon>Narrative
        </button>
      </div>
    </div>

  </div>

  <div class="modal-footer">
    <button class="btn btn-outline-dark" (click)="modalRef.close()">
      <fa-icon icon="times"></fa-icon>Avbryt
    </button>
    <button [disabled]="disabled" [ngClass]="{'disabled': disabled}" class="btn btn-success" (click)="modalUpdate()">
      <fa-icon icon="check"></fa-icon>Oppdater
    </button>
  </div>
</ng-template>
