<div *ngIf="dataReady && !canCreate()" class="alert alert-primary" role="alert">
  Fallskjerm er nede for vedlikehold
</div>

<!-- QUICKSELECT DEFAULT DISCIPLINE -->
<span *ngIf="dataReady && canCreate() && defaultBtn && settings.default_activity==109">
  <button *ngIf="!!settings && canCreate()" (click)="createObservation(settings.default_discipline, settings.default_club, settings.default_activity)" class="btn btn-block btn-success btn-lg my-1">
    <fa name="plus" [fixed]="true"></fa>
    <nlf-resolve-lungo-organization [organization_id]="settings.default_discipline" show_type="false"></nlf-resolve-lungo-organization>
  </button>
</span>

<!-- NORMAL SELECT DROPDOWN -->
<span *ngIf="dataReady && !defaultBtn && canCreate()">

  <span *ngIf="!loading">


    <div class="row">
      <div class="col">
        <select class="form-control" id="fallskjermklubb" [(ngModel)]="selected">
          <option *ngFor="let club of clubs" [ngValue]="club.id">
            {{ club.name }}
          </option>
        </select>
      </div>
      <div class="col">
        <button [disabled]="!selected" (click)="createObservation()" class="btn btn-block btn-success btn-lg">
          <fa name="plus" [fixed]="true"></fa>Opprett ORS
        </button>
      </div>
    </div>
  </span>

  <span *ngIf="loading">
    <fa name="spinner" animation="pulse" size="3x"></fa>
    <p class="lead">Oppretter ORS...</p>
  </span>
</span>

<!-- End page -->
<span *ngIf="!dataReady">
  <fa name="spinner" animation="pulse" size="3x"></fa>
</span>
