<agm-map [latitude]="toFloat(observation.location.geo.coordinates[0])" 
  [mapTypeControl]="true" 
  [longitude]="toFloat(observation.location.geo.coordinates[1])"
  [zoom]="15">
  <agm-marker 
    [markerDraggable]="true"
    (dragEnd)="markerMoved($event)"
    [latitude]="toFloat(observation.location.geo.coordinates[0])" 
    [longitude]="toFloat(observation.location.geo.coordinates[1])">
  </agm-marker>
</agm-map>
<select class="form-control" [formControl]="locationChooser" [(ngModel)]="selected">
  <option *ngFor="let location of locations" [ngValue]="location.nickname">
    {{ location.nickname }} ({{ location.name }})
  </option>
</select>

{{ observation.location.geo.coordinates | json }}