<header class="nlf-sticky-toolbar">
  <div class="container">
    <span class="breadcrumb">
      <li class="breadcrumb-item">
        <fa name="plug" [fixed]="true" class="mr-1 active"></fa><a [routerLink]="['/', '376']">NIF Integration</a>
      </li>
    </span>

    <span class="float-right d-inline">
      <a class="mr-1 btn btn-primary btn-sm" [routerLink]="['/integration']">
        <fa name="cog" [fixed]="true"></fa>Syncdaemon
      </a>
    </span>

  </div>
</header>

<div *ngIf="!dataReady">
  <nlf-ui-page-spinner></nlf-ui-page-spinner>
</div>

<div *ngIf="!!dataReady" class="container-fluid">
  <div class="row clearfix">
    <div class="col-md-6 chart-wrapper">
      <ngx-charts-advanced-pie-chart *ngIf="pieReady" [scheme]="colorScheme" [label]="'Change messages'" [results]="pie" [gradient]="gradient">
      </ngx-charts-advanced-pie-chart>
    </div>
    <div class="col-md-6">
      <div class="chart-wrapper">
        <ngx-charts-advanced-pie-chart *ngIf="entityTypesReady" [scheme]="colorScheme" [label]="'Change entities'" [results]="entityTypes" [gradient]="gradient">
        </ngx-charts-advanced-pie-chart>
      </div>
    </div>
  </div>
  <!--
"": "klubb-214063",
"id": 214063,
"status": true,
"state": "waiting",
"mode": "populate",
"reason": "connection pool",
"index": 0,
"uptime": [0, 39626],
"started": "2018-12-25T05:04:01.219050",
"messages": 467,
"sync_type": "changes",
"sync_interval": ["2017-05-21T13:40:03.640000+00:00", "2017-06-20T13:40:03.640000+00:00"],
"sync_misfires": 0,
"sync_errors": 0,
"next_run_time": null
-->
  <div class="row clearfix">
    <div class="col-md-2 text-center bg-secondary text-white">
      <h2>{{ sync }}</h2>
      <h5>sync</h5>
    </div>
    <div class="col-md-2 text-center bg-secondary text-white">
      <h2>{{ pop }}</h2>
      <h5>populate</h5>
    </div>
    <div class="col-md-2 text-center bg-secondary text-white">
      <h2>{{ msgs }}</h2>
      <h5>messages</h5>
    </div>
    <div class="col-md-2 text-center bg-success text-white">
      <h2>{{ online }}</h2>
      <h5>online</h5>
    </div>
    <div class="col-md-2 text-center bg-danger text-white">
      <h2 *ngIf="!!workers">{{ workers.length-online }}</h2>
      <h5>offline</h5>
    </div>
    <div class="col-md-2 text-center bg-success text-white">
      <div *ngFor="let s of status">
        <h2 *ngIf="s._id=='finished'">{{ s.count }}</h2>
      </div>
      <h5>processed</h5>
    </div>
  </div>
  <!--<button class="btn btn-primary" *ngIf="!workersStarted && syncdaemonStatus" (click)="startWorkers()"><fa name="play"></fa>Start workers</button>-->

  <div class="clearfix overflow-auto">
    <ngx-table [id]="'integration-workers-table'" *ngIf="!!workers" [configuration]="tableConfig" [data]="workers" [columns]="columns" [(pagination)]="pagination" (event)="eventEmitted($event)" [detailsTemplate]="detailsTemplate">

      <ng-template let-row>
        <td>
          <span class="text-xs-left">
            <fa [ngClass]="!!row.status ? 'text-success' : 'text-danger'" name='circle'></fa>
          </span>
        </td>
        <td>
          <nlf-resolve-lungo-organization *ngIf="row.id != 900001 && row.id != 900002 && row.id != 900003" [organization_id]="row.id"></nlf-resolve-lungo-organization>
          <span *ngIf="row.id == 900001">*Lisenser</span>
          <span *ngIf="row.id == 900002">*Kompetanser</span>
          <span *ngIf="row.id == 900003">*Payments</span>
        </td>
        <td>
          {{ row.state | upperfirst }}
        </td>
        <td>
          {{ row.mode | upperfirst }}
        </td>

        <td>
          {{ row.sync_type | upperfirst }}
        </td>
        <td>
          <span class="text-xs-right" [ngClass]="{'text-danger': row.sync_errors > 0}">
            {{ row.sync_errors }}
          </span>

        </td>
        <td>
          {{ row.next_run_time | date:"HH:mm:ss" }}
        </td>
        <td>
          <span class="text-xs-right">
            {{ row.messages }}
          </span>
        </td>

      </ng-template>

    </ngx-table>


    <ng-template #detailsTemplate let-row>
      <div>Index: {{ row.index }}</div>
      <div>{{ row.name }}</div>
      <div>{{ row.id }}</div>
      <div>{{ row.status }}</div>
      <div>{{ row.mode }}</div>
      <div>{{ row.reason }}</div>
      <div *ngIf="row.uptime.length == 2">{{ row.uptime[0] }} days, {{ uptime(row.uptime[1]) }}</div>
      <div>{{ row.started | date:"yyyy-MM-dd HH:mm:ss" }}</div>
      <div>{{ row.messages }}</div>
      <div>{{ row.sync_type }}</div>
      <div *ngIf="row.sync_interval.length == 2">Last synced {{ row.sync_interval[1] | amTimeAgo }}</div>
      <div *ngIf="row.sync_interval.length == 2">{{ row.sync_interval[0] | date:"HH:mm:ss.SSS" }} to {{
            row.sync_interval[1] | date:"HH:mm:ss.SSS" }}</div>
      <div>{{ row.sync_misfires }}</div>
      <div>{{ row.sync_errors }}</div>
      <div>{{ row.next_run_time | date:"HH:mm:ss" }}</div>

      <div class="col-md-4"></div>
      <div class="col-md-4"></div>
      <div class="col-md-4"></div>
      <button class="btn btn-danger" (click)="rebootWorker(row.index)">Reboot</button>

      <button class="btn btn-info">Logs</button>
      <button class="btn btn-info">Changes</button>
      <nlf-worker-log [organization_id]="row.id" [index]="row.index"></nlf-worker-log>

    </ng-template>

  </div>

  <!--
    <ngx-charts-pie-grid
    [scheme]="colorScheme"
    [results]="syncdaemonStatus"
    [tooltipText]="pieTooltipText"
    >
</ngx-charts-pie-grid>
-->
  <div>
    <button class="btn btn-success" (click)="refresh()">
      <fa name="refresh"></fa>Refresh
    </button>
  </div>
  <div>
    Next run time: {{ next_run_time | date:'HH:mm:ss' }}
  </div>

</div>
