<div *ngIf="!!dataReady">

    <div class="row clearfix">
        <div class="col-md-6 chart-wrapper">
            <ngx-charts-advanced-pie-chart *ngIf="pieReady" [scheme]="colorScheme" [label]="'Change messages'"
                [results]="pie" [gradient]="gradient">
            </ngx-charts-advanced-pie-chart>
        </div>
        <div class="col-md-6">
            <div class="chart-wrapper">
                <ngx-charts-advanced-pie-chart *ngIf="entityTypesReady" [scheme]="colorScheme" [label]="'Entities'"
                    [results]="entityTypes" [gradient]="gradient">
                </ngx-charts-advanced-pie-chart>
            </div>
        </div>
    </div>
    <!--
"name": "klubb-214063",
"id": 214063,
"status": true,
"state": "waiting",
"mode": "populate",
"reason": "connection pool",
"index": 0,
"uptime": [0, 39626],
"started": "2018-12-25T05:04:01.219050",
"messages": 467,
"sync_type": "changes",
"sync_interval": ["2017-05-21T13:40:03.640000+00:00", "2017-06-20T13:40:03.640000+00:00"],
"sync_misfires": 0,
"sync_errors": 0,
"next_run_time": null
-->

    <div class="row clearfix">
        <div class="col-md-2 text-center bg-secondary text-white">
            <h2>{{ sync }}</h2>
            <h5>sync</h5>
        </div>
        <div class="col-md-2 text-center bg-secondary text-white">
            <h2>{{ pop }}</h2>
            <h5>populate</h5>
        </div>
        <div class="col-md-2 text-center bg-secondary text-white">
            <h2>{{ msgs }}</h2>
            <h5>messages</h5>
        </div>
        <div class="col-md-2 text-center bg-success text-white">
            <h2>{{ online }}</h2>
            <h5>online</h5>
        </div>
        <div class="col-md-2 text-center bg-danger text-white">
            <h2>{{ workers.length-online }}</h2>
            <h5>offline</h5>
        </div>
        <div class="col-md-2 text-center bg-success text-white">
            <div *ngFor="let s of status">
                <h2 *ngIf="s._id=='finished'">{{ s.count }}</h2>
            </div>

            <h5>processed</h5>
        </div>



    </div>
    <ngx-table [configuration]="tableConfig" [data]="workers" [columns]="columns" [(pagination)]="pagination" (event)="eventEmitted($event)"></ngx-table>
    <!--
    <ngx-charts-pie-grid
    [scheme]="colorScheme"
    [results]="syncdaemonStatus"
    [tooltipText]="pieTooltipText"
    >
</ngx-charts-pie-grid>
-->
    <div>
        <button class="btn btn-success" (click)="refresh()">
            <fa name="refresh"></fa>Refresh
        </button>
    </div>
    <div>
        Next run time: {{ next_run_time | date:'HH:mm:ss' }}
    </div>

</div>