<div *ngIf="dataReady" class="overflow-auto">

  <table class="table table-sm table-hover">
    <tr *ngFor="let ors of observations">

      <td class="text-start">
        <nlf-resolve-observation-types [type]="ors.type" [activity]="activity" [badge]="true"></nlf-resolve-observation-types>
      </td>

      <td>
        <a [routerLink]="['/ors', activity, 'report', ors.id]">
          #{{ ors.id }} <nlf-resolve-observation-tags [tags]="ors.tags" [activity]="activity" link="true" seperator="/"></nlf-resolve-observation-tags>
        </a>
      </td>

      <td class=".d-none .d-sm-block">
        <a [routerLink]="['/ors', activity]">{{ activity }}</a>
      </td>
      
      <td class=".d-none .d-sm-block">
        <nlf-resolve-lungo-organization [organization_id]="ors.discipline"></nlf-resolve-lungo-organization>
      </td>

      <td>
        {{ ors.when | amTimeAgo }}
      </td>

      <td class="text-center">
        <nlf-resolve-observation-rating [rating]="ors.rating"></nlf-resolve-observation-rating>
      </td>

    </tr>

    <!-- Ingen for seksjon - mute it!
    <tr *ngIf="observations.length===0">
      <td class="text-start">Ingen funnet for {{ activity }}</td>
    </tr>
    -->

  </table>
  <!--
  <div *ngIf="observations.length==0">
    No results for {{ activity }}
  </div>
-->
</div>
