<div *ngIf="dataReady" class="overflow-auto">

  <table class="table table-sm table-hover">
    <tr *ngFor="let ors of observations">

      <td class="text-start">
        <nlf-resolve-observation-types [type]="ors.type" [activity]="activity" [badge]="true"></nlf-resolve-observation-types>
      </td>

      <td>
        <a [routerLink]="['/ors', activity, 'report', ors.id]">
          #{{ ors.id }} {{ ors.title }}
        </a>
      </td>

      <td class=".d-none .d-sm-block">
        <a [routerLink]="['/ors', activity]">{{ activity }}</a>
      </td>

      <td>
        {{ ors.when | amTimeAgo }}
      </td>

      <td class="text-center">
        <span class="badge bg-{{ors.rating | nlfOrsRatingCalc | nlfDynamicColor}} rounded-pill">{{ ors.rating | nlfOrsRatingCalc }}</span>
      </td>

    </tr>

    <!-- Ingen for seksjon - mute it!
    <tr *ngIf="observations.length===0">
      <td class="text-start">Ingen funnet for {{ activity }}</td>
    </tr>
    -->

  </table>
  <!--
  <div *ngIf="observations.length==0">
    No results for {{ activity }}
  </div>
-->
</div>
