<div *ngIf="!!org">
  <div class="container">
    <div class="row mt-3">

      <div class="d-flex col-md-4 flex-column">

        <h4>Steder</h4>

        <div cdkDropList (cdkDropListDropped)="drop($event)">

          <div class="my-2" *ngFor="let location of org.locations;let idx=index" cdkDrag>
            <!--<a [routerLink]="['/organizations', org.id, 'location', 'edit', idx]">{{ location.nickname}}</a>-->
            <span class="pointer" cdkDragHandle>
              <fa-icon [icon]="faArrowsAlt"></fa-icon>
            </span>
            <span class="pointer ms-1 me-3" [ngClass]="{'bg-secondary': idx===org?.locations?.indexOf(currentLocation)}" (click)="goTo(location)">{{ location.nickname }} <span *ngIf="idx==0">
                (default)</span></span>
            <fa-icon class="pointer me-1" [icon]="faTimes" (click)="deleteLocation(idx)"></fa-icon>
            <fa-icon class="pointer" [icon]="faEdit" (click)="openModal(modal, idx)"></fa-icon>
          </div>


        </div>
        <button class="btn btn-link" (click)="mapReset()"><fa-icon
            [icon]="faCrosshairs"></fa-icon> reset kart</button>
        <div class="d-grid gap-2">
          <button class="btn btn-primary mt-auto my-3" (click)="openModal(modal, org.locations.length)">
            <fa-icon [icon]="faPlus"></fa-icon> Nytt sted
          </button>
        </div>

        <div class="mt-auto my-3 d-grid gap-2" *ngIf="!!returl">
          <a class="btn btn-secondary" [routerLink]="returl">
            <fa-icon [icon]="faRefresh"></fa-icon> Tilbake
          </a>
        </div>
      </div>

      <div class="col-md-8 position-relative">


        <div id="main-map" style="height: 400px;" leaflet *ngIf="!!mapOptions" class="map" [leafletOptions]="mapOptions"
          (leafletMapReady)="onMapReady($event)" [(leafletCenter)]="mapCenter">
        </div>

        <!--
        <agm-map *ngIf="!!currentLocation" [fitBounds]="fitBounds" [latitude]="toFloat(currentLocation.geo.coordinates[0])" [longitude]="toFloat(currentLocation.geo.coordinates[1])" (mapClick)="updateLocation($event)" [mapTypeControl]="true" [zoom]="zoom">



          <agm-circle *ngIf="!!currentLocation" [latitude]="toFloat(currentLocation.geo.coordinates[0])" [longitude]="toFloat(currentLocation.geo.coordinates[1])" [radius]="toFloat(2000)" [circleDraggable]="false" [fillColor]="'red'" [editable]="false"
            [fillOpacity]="toFloat(0.25)">
          </agm-circle>

          <span *ngFor="let location of org.locations;let idx=index">
            <agm-marker *ngIf="!!location?.geo" [agmFitBounds]="true" [iconUrl]="idx==0 ? 'http://maps.google.com/mapfiles/ms/icons/green-dot.png' : 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png'" [markerDraggable]="false"
              (dragEnd)="updateLocation($event)" [latitude]="toFloat(location.geo.coordinates[0])" [longitude]="toFloat(location.geo.coordinates[1])">
              <agm-info-window>
                <h4>
                  <fa-icon [icon]="faMapMarker"></fa-icon> {{ location.name }}
                </h4>
                <div *ngIf="idx==0"><strong>Default</strong></div>
                <div>{{ location.municipality }}</div>
                <div>{{ location.county }}</div>
                <div>{{ location.geo_type }}</div>
              </agm-info-window>
            </agm-marker>
          </span>

        </agm-map>
        -->

      </div>

    </div>


  </div>
</div>

<!-- MODAL -->
<ng-template #modal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">
      <fa-icon [icon]="faMapMarker"></fa-icon> {{ modalValue?.nickname }} <span class="ms-2 small"
        *ngIf="modalIndex==0">default</span>
    </h4>
    <button type="button" class="close float-end" aria-label="Close" (click)="modalRef.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body" *ngIf="!!modalValue">


    <div class="col-xs-12 position-relative">
      <div class="row" style="height: 400px">
        <div id="modal-map" leaflet class="map" [leafletOptions]="modalMapOptions"
          (leafletMapReady)="onModalMapReady($event)" [(leafletCenter)]="modalMapCenter">
        </div>
        <!--
      <agm-map [latitude]="toFloat(modalValue.geo.coordinates[0])" [longitude]="toFloat(modalValue.geo.coordinates[1])"
        (mapClick)="updateLocation($event)" [mapTypeControl]="true" [zoom]="14">

         Colors: pink, yellow, purple, green, blue
        <agm-marker [markerDraggable]="true" (dragEnd)="updateLocation($event)"
          [latitude]="toFloat(modalValue.geo.coordinates[0])" [longitude]="toFloat(modalValue.geo.coordinates[1])">
        </agm-marker>
      </agm-map>
      -->
      </div>
    </div>

    <div class="col-xs-12">
      <div class="row w-100">
        <div class="form-group w-100">
          <label for="locations-id">Søk etter stedsnavn</label>
          <location-select [(locationItem)]="modalValue" [clearable]="false" (change)="onLocationSelected($event)"
            id="locations-id" [details]="true" [fc]="false"></location-select>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6">
          <label for="nickname">Navn</label>
          <input class="form-control" type="string" id="nickname" [(ngModel)]="modalValue.nickname">
        </div>


        <div class="form-group col-md-5">
          <label for="type">Type sted</label>
          <nlf-ors-editor-tag-string fc="true" preload="true" group="location" activity="modellfly"
            [(tagString)]="modalValue.type" [disabled]="disabled">
          </nlf-ors-editor-tag-string>
        </div>

      </div>

      <div class="row w-100">
        <div class="form-group w-100">
          <label for="icao">Nærmeste flyplass</label>
          <nlf-ors-editor-tag-airport [(airport)]="modalValue.icao" id="icao"></nlf-ors-editor-tag-airport>
        </div>
      </div>

      

      <!--
      @Input() airport: ApiAirport;
      @Output() airportChange: EventEmitter<ApiAirport> = new EventEmitter();
      @Output() change: EventEmitter<boolean> = new EventEmitter();
      @Input() disabled = false;
      @Input() element_id = '';
      @Input() fc = false;

    -->

      <!--
      <div class="row">
        <div class="form-group col-md-4">
          <label for="municipality">Kommune</label>
          <input class="form-control" type="string" id="municipality" [(ngModel)]="modalValue.municipality">
        </div>

        <div class="form-group col-md-4">
          <label for="county">Fylke</label>
          <input class="form-control" type="string" id="county" [(ngModel)]="modalValue.county">
        </div>

        <div class="form-group col-md-4">
          <label for="geo_type">Geo Type</label>
          <input class="form-control" type="string" id="geo_type" [(ngModel)]="modalValue.geo_type">
        </div>
      </div>
      -->

    </div>

    <!--
      @TODO add some sort of type "landingsområde" etc
      <div>
      <nlf-ors-editor-tag [initialTags]="locationTypes" [activity]="fallskjerm" group="location-type"></nlf-ors-editor-tag>
      {{ locationTypes | json }}
      </div>
      -->


    <!--
    <pre class="clearfix">
    {{ modalValue | json }}
    </pre>
    -->

  </div>

  <div class="modal-footer">

    <span class="me-auto">
        Lat: {{ modalValue.geo.coordinates[1] }} Lng: {{ modalValue.geo.coordinates[0] }}
    </span>


    <button class="btn btn-outline-dark" (click)="modalRef.close()">
      <fa-icon [icon]="faTimes" [fixedWidth]="true"></fa-icon>Avbryt
    </button>
    <button [disabled]="disabled" [ngClass]="{'disabled': disabled}" class="btn btn-success"
      (click)="modalUpdate(modalIndex)">
      <fa-icon [icon]="faCheck" [fixedWidth]="true"></fa-icon>Oppdater
    </button>
  </div>
</ng-template>
