<div class="modal-header">
  <h4 class="modal-title pull-left">
    #{{ observation.id }} Arbeidsflyt

    <!--<nlf-resolve-observation-tags [tags]="observation.tags" link="true" seperator="/"></nlf-resolve-observation-tags>-->
    <span class="pull-right">

      <!--<span class="badge badge-secondary">{{ observation._updated | amTimeAgo }}</span>
            <span class="badge badge-success">{{ observation._version }}</span>-->

    </span>

  </h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


<!--BODY-->
<div class="modal-body">

  <!--
  <nlf-resolve-lungo-organization [organization_id]="observation.club" show_type="false" link="true" long="false"></nlf-resolve-lungo-organization>
  {{ workflow.title }}
  <nlf-resolve-observation-state [state]="observation.workflow.state" [activity]="observation._model.type" icon="true"></nlf-resolve-observation-state>
  -->
  <div *ngIf="!!dataReady">

    <div *ngIf="observation._model.type==='motorfly' && observation._model.version>=3 && observation.workflow.state==='draft'" class="form-group">
      <nlf-help key="ors-editor-do_not_process_in_club"></nlf-help>

      <input [disabled]="!observation.acl_user.w" class="form-check-input" type="checkbox" [(ngModel)]="payload.do_not_process_in_club" [id]="do_not_process_in_club">
      <label class="form-check-label" for="do_not_process_in_club">
        <strong>Ikke</strong> behandle rapporten i klubb
      </label>
    </div>

    <div *ngIf="observation._model.type==='motorfly' && observation._model.version>=3 && observation.workflow.state==='pending_review_ors'" class="form-group">
      <nlf-help key="ors-editor-do_not_publish"></nlf-help>

      <input [disabled]="!observation.acl_user.w" class="form-check-input" type="checkbox" [(ngModel)]="payload.do_not_publish" [id]="do_not_publish">
      <label class="form-check-label" for="do_not_publish">
        <strong>Ikke</strong> publiser rapport når lukket
      </label>
    </div>


    <div class="form-group">
      <label for="comment">Kommentarer til arbeidsflyten</label>
      <nlf-help key="ors-editor-workflow"></nlf-help>
      <textarea [disabled]="!observation.acl_user.x" [ngClass]="{'disabled': processing}" placeholder="Kommentarer" [(ngModel)]="payload.comment" name="payload_comment" class="form-control" rows="3" id="comment"></textarea>
    </div>

    <nlf-ors-report-workflow-timeline [activity]="observation._model.type" [_id]="observation._id" [workflow]="observation.workflow"></nlf-ors-report-workflow-timeline>

    <div *ngIf="graph">
      <img class="img img-fluid" [src]="domSanitizer.bypassSecurityTrustUrl(graph)">
    </div>

    <span *ngIf="!!processing" class="text-center">
      <fa name="spinner" [size]="5" [fixed]="true"></fa>
    </span>
  </div>
  <div *ngIf="!dataReady">
    <div class="text-center">
      <!--<nlf-ui-component-spinner></nlf-ui-component-spinner>-->
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<!--FOOTER-->
<div class="modal-footer">

  <button type="button" class="btn btn-outline-dark mr-auto d-none d-sm-block" *ngIf="!graph" (click)="getGraph()">
    <fa name="random" [fixed]="true"></fa>Vis skjema
  </button>
  <span *ngIf="!!dataReady">
    <button *ngFor="let a of workflow.actions" type="button" [disabled]="!observation.acl_user.x" class="btn mx-1" [ngClass]="{
      'btn-danger':a.resource=='reject'||a.resource=='withdraw',
    'btn-success':a.resource=='approve'||a.resource=='reopen',
    'btn-info': a.resource=='dto'||a.resource=='skole'||a.resource=='teknisk',
    'disabled':processing}" (click)="workflowChange(a.resource, a.action)">{{ a.action }}
    </button>
  </span>
  <button [ngClass]="{'disabled': processing}" class="btn btn-outline-dark" (click)="activeModal.dismiss()">Avbryt</button>

</div>
