<header class="nlf-sticky-toolbar">
  <div class="container">
    <span class="breadcrumb">
      <li class="breadcrumb-item">
        <fa-icon icon="plane" fixed="false" class="mr-1"></fa-icon><a [routerLink]="['/', 'aircraft']">Aircraft</a>
      </li>
      <li class="breadcrumb-item">
        <span *ngIf="callsign" class="mr-1 active">{{ callsign }}</span>
      </li>
      <sup class="text-danger mx-1" title="Applikasjonen er ikke ferdig utviklet">beta</sup>
    </span>

    <a [routerLink]="['/', 'aircraft', 'view', callsign]" class="btn btn-sm btn-primary mx-1 pull-right">
      <fa-icon icon="plane"></fa-icon> View
    </a>

  </div>
</header>

<div *ngIf="!!callsign" class="container">
  <nlf-aircrafts-edit [(callsign)]="callsign"></nlf-aircrafts-edit>
</div>
