<div class="row">
  <div class="col-md-3">
    <button [disabled]="disabled" class="btn btn-primary btn-block" (click)="add();openModal(modal, modalIdx)">
      <fa-icon icon="plus"></fa-icon>Add Airprox/separation
    </button>
  </div>
  <div class="col-md-9">
    <div *ngFor="let sep of separation; let idx = index">

      <nlf-ors-editor-tag-e5x-render classes="badge badge-danger" [unit]="sep.attributes.estMinimumHorizSep.unit"
      [items]="sep.attributes.estMinimumHorizSep.value" path="E5X.Occurrence.Separation.EstMinimumHorizSep"></nlf-ors-editor-tag-e5x-render>

      <fa-icon class="mx-1" name="edit" (click)="openModal(modal, idx)"></fa-icon>
      <fa-icon class="mx-1" *ngIf="!disabled" name="close" (click)="delete(idx)"></fa-icon>
    </div>

  </div>
</div>

<!-- ROUTE MODAL -->
<ng-template #modal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">
      Airpoximity - separation occurrence
    </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">

    <div class="row">

      <!-- MISC -->
      <div class="col-md-12">
        <nlf-ors-editor-tag-e5x [disabled]="disabled" [(items)]="modalValue.attributes.militaryACInvolved.value" path="E5X.Occurrence.Separation.MilitaryACInvolved"
          id="militaryACInvolved"></nlf-ors-editor-tag-e5x>
      </div>


      <!-- HORIZONTAL -->
      <div class="col-md-4">
        <nlf-ors-editor-tag-e5x [disabled]="disabled" [(items)]="modalValue.attributes.reqMinimumHorizSep.value" path="E5X.Occurrence.Separation.ReqMinimumHorizSep"
        [unit]="modalValue.attributes.reqMinimumHorizSep.unit" id="reqMinimumHorizSep"></nlf-ors-editor-tag-e5x>
      </div>
      <div class="col-md-4">
        <nlf-ors-editor-tag-e5x [disabled]="disabled" [(items)]="modalValue.attributes.estMinimumHorizSep.value" path="E5X.Occurrence.Separation.EstMinimumHorizSep"
        [unit]="modalValue.attributes.estMinimumHorizSep.unit" id="estMinimumHorizSep"></nlf-ors-editor-tag-e5x>
      </div>
      <div class="col-md-4">
        <nlf-ors-editor-tag-e5x [disabled]="disabled" [(items)]="modalValue.attributes.minHorizSepRec.value" path="E5X.Occurrence.Separation.MinHorizSepRec"
          [unit]="modalValue.attributes.minHorizSepRec.unit" id="minHorizSepRec"></nlf-ors-editor-tag-e5x>
      </div>

      <div class="col-md-6">
        <nlf-ors-editor-tag-e5x [disabled]="disabled" [(items)]="modalValue.attributes.rateOfClosure.value" path="E5X.Occurrence.Separation.RateOfClosure"
        [unit]="modalValue.attributes.rateOfClosure.unit" id="rateOfClosure"></nlf-ors-editor-tag-e5x>
      </div>
      <div class="col-md-6">
        <nlf-ors-editor-tag-e5x [disabled]="disabled" [(items)]="modalValue.attributes.horizontalRelMvmt.value" path="E5X.Occurrence.Separation.HorizontalRelMvmt"
        [unit]="modalValue.attributes.horizontalRelMvmt.unit" id="horizontalRelMvmt"></nlf-ors-editor-tag-e5x>
      </div>

      <!-- VERTICAL -->
      <div class="col-md-4">
        <nlf-ors-editor-tag-e5x [disabled]="disabled" [(items)]="modalValue.attributes.estVertSeparation.value" path="E5X.Occurrence.Separation.EstVertSeparation"
        [unit]="modalValue.attributes.estVertSeparation.unit" id="estVertSeparation"></nlf-ors-editor-tag-e5x>
      </div>
      <div class="col-md-4">
        <nlf-ors-editor-tag-e5x [disabled]="disabled" [(items)]="modalValue.attributes.reqVertSeparation.value" path="E5X.Occurrence.Separation.ReqVertSeparation"
        [unit]="modalValue.attributes.reqVertSeparation.unit" id="reqVertSeparation"></nlf-ors-editor-tag-e5x>
      </div>
      <div class="col-md-4">
        <nlf-ors-editor-tag-e5x [disabled]="disabled" [(items)]="modalValue.attributes.verticalSepRecorded.value" path="E5X.Occurrence.Separation.VerticalSepRecorded"
        [unit]="modalValue.attributes.verticalSepRecorded.unit" id="verticalSepRecorded"></nlf-ors-editor-tag-e5x>
      </div>
    </div>

  </div>


  <div class="modal-footer">
    <button class="btn btn-outline-dark" (click)="modalRef.close()">
      <fa-icon icon="times"></fa-icon>Avbryt
    </button>
    <button [disabled]="disabled" [ngClass]="{'disabled': disabled}" class="btn btn-success" (click)="modalUpdate()">
      <fa-icon icon="check"></fa-icon>Oppdater
    </button>
  </div>
</ng-template>
