<!--
<agm-map *ngIf="!!localGeo" [fitBounds]="true" [latitude]="toFloat(localGeo.coordinates[1]||50)" [longitude]="toFloat(localGeo.coordinates[0]||10)" [mapTypeControl]="true" [zoom]="17">


  <agm-marker-cluster imagePath="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m" imageExtension="png">
    <span *ngFor="let org of orgs;let idx=index; let ll=last">
      <agm-marker *ngIf="!!org?.contact?.location?.geo" [agmFitBounds]="true" [markerDraggable]="false" [latitude]="toFloat(org.contact.location.geo.coordinates[1])" [longitude]="toFloat(org.contact.location.geo.coordinates[0])">
        <agm-info-window>
          <h4>
            <fa-icon [icon]="faMapMarker"></fa-icon> {{ org.name }}
          </h4>
          <div>{{ org.main_activity.name }}</div>
          <a [routerLink]="['/organizations', org.id]">{{ org.name }}</a>

        </agm-info-window>
      </agm-marker>
    </span>
  </agm-marker-cluster>

</agm-map>
-->

<div *ngIf="dataReady" style="height: 800px;" leaflet (leafletMapReady)="onMapReady($event)"
  [(leafletCenter)]="mapCenter" [leafletOptions]="options" [leafletMarkerCluster]="markers">
</div>

<ng-template #modalTemplate>

  <div class="modal-header">
    <h4 class="modal-title pull-left">
      {{ modalOrg.name }} 
    </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">

    <dl class="row">
      <dt class="col-sm-3">Org Type</dt>
      <dd class="col-sm-9"><nlf-resolve-lungo-organization-type [type_id]="modalOrg.type_id"></nlf-resolve-lungo-organization-type></dd>
      <dt class="col-sm-3">Aktiv</dt>
      <dd class="col-sm-9"><span class="text-success" *ngIf="modalOrg.is_active">JA</span><span class="text-danger" *ngIf="!modalOrg.is_active">NEI</span></dd>
      <dt class="col-sm-3">Epost</dt>
      <dd class="col-sm-9">{{ modalOrg.contact.email || '' }}</dd>
      <dt class="col-sm-3">Tlf</dt>
      <dd class="col-sm-9">{{ modalOrg.contact.phone_home || '' }}</dd>
      <dt class="col-sm-3">Gateadresse</dt>
      <dd class="col-sm-9">{{ modalOrg.contact.street_address || '' }}</dd>
      <dt class="col-sm-3">City</dt>
      <dd class="col-sm-9">{{ modalOrg.contact.zip_code || '' }} {{ modalOrg.contact.city || '' }}</dd>
      <dt class="col-sm-3">Aktiviteter</dt>
      <dd class="col-sm-9">
        <div *ngFor="let activity of modalOrg.activities">
          <nlf-resolve-lungo-activity [activity_id]="activity.id" link="true"></nlf-resolve-lungo-activity>
        </div>
      </dd>

    </dl>

    <p>Sist oppdatert: {{ modalOrg._updated | date:'full' }}</p>

  </div>

  <div class="modal-footer">
    <a class="btn btn-link" [routerLink]="['/organizations', modalOrg.id]">Gå til organisasjonen</a>
  </div>
</ng-template>