<!--
<agm-map *ngIf="!!localGeo" [fitBounds]="true" [latitude]="toFloat(localGeo.coordinates[1]||50)" [longitude]="toFloat(localGeo.coordinates[0]||10)" [mapTypeControl]="true" [zoom]="17">


  <agm-marker-cluster imagePath="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m" imageExtension="png">
    <span *ngFor="let org of orgs;let idx=index; let ll=last">
      <agm-marker *ngIf="!!org?.contact?.location?.geo" [agmFitBounds]="true" [markerDraggable]="false" [latitude]="toFloat(org.contact.location.geo.coordinates[1])" [longitude]="toFloat(org.contact.location.geo.coordinates[0])">
        <agm-info-window>
          <h4>
            <fa-icon icon="map-marker" [fixed]="true"></fa-icon> {{ org.name }}
          </h4>
          <div>{{ org.main_activity.name }}</div>
          <a [routerLink]="['/organizations', org.id]">{{ org.name }}</a>

        </agm-info-window>
      </agm-marker>
    </span>
  </agm-marker-cluster>

</agm-map>
-->