<h3>Route</h3>
<agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
  <agm-polyline *ngFor="let polyline of polylines;let i = index;" [strokeColor]="polyline.color">
    <agm-polyline-point *ngFor="let point of polyline.path" [latitude]="point.latitude" [longitude]="point.longitude">
    </agm-polyline-point>
  </agm-polyline>
</agm-map>
<!--
<agm-map [latitude]="latitude" [mapTypeControl]="true" [longitude]="longitude" [zoom]="15">
  <agm-marker [markerDraggable]="true" [latitude]="latitude" [longitude]="longitude">
  </agm-marker>
</agm-map>
-->