<header *ngIf="dataReady" class="nlf-sticky-toolbar">
  <div class="container">
    <span class="breadcrumb">


      <!-- NLF -->
      <li class="breadcrumb-item" [ngClass]="{active: lungo.id==376}">
        <fa name="sitemap" [fixed]="true" class="mr-1"></fa>
        <a *ngIf="lungo.id!=376" [routerLink]="['/organizations', '376']">NLF</a>
        <span *ngIf="lungo.id==376">NLF</span>
      </li>

      <!-- SEKSJON -->
      <li *ngIf="federation_id > 0 && dataReady" class="breadcrumb-item">
        <a [routerLink]="['/organizations', federation_id]">
          <nlf-resolve-lungo-organization [organization_id]="federation_id" [show_type]="false" link="true"></nlf-resolve-lungo-organization>
          <!--<nlf-resolve-lungo-activity *ngIf="!!lungo.main_activity['id']" [activity_id]="lungo.main_activity.id"></nlf-resolve-lungo-activity>-->
        </a>
      </li>

      <!-- Aktivitet om GRUPPE, KLUBB, GREN  -->
      <li *ngIf="federation_id==0 && [14, 6, 5, 19].indexOf(lungo.type_id)>-1" class="breadcrumb-item" [ngClass]="{active: lungo.type_id==19}">

        <!--<a [routerLink]="['/organizations', ]">-->
          <nlf-resolve-lungo-organization [organization_id]="getFederation(lungo.main_activity)" [show_type]="false" [link]="lungo.type_id==19 ? false : true"></nlf-resolve-lungo-organization>
          <!--<nlf-resolve-lungo-activity [activity_id]="lungo.main_activity.id"></nlf-resolve-lungo-activity>
        </a>-->
      </li>

      <!-- GRUPPE, KLUBB, GREN -->
      <li *ngIf="[14, 6, 5].indexOf(lungo.type_id)>-1" class="breadcrumb-item" [ngClass]="{active: [6, 5].indexOf(lungo.type_id)>-1}">

          <nlf-resolve-lungo-organization [organization_id]="lungo.type_id==14 ? lungo.parent_id : lungo.id" [show_type]="false" [link]="lungo.type_id==14 ? true : false"></nlf-resolve-lungo-organization>

      </li>

      <!-- GREN -->
      <li *ngIf="lungo.type_id==14" class="breadcrumb-item" [routerLink]="['/organizations', lungo.id]" routerLinkActive="active">
      <!--  <span *ngIf="lungo.type_id!=14">{{ lungo.name }}</span>-->
        <nlf-resolve-lungo-activity  [activity_id]="lungo.main_activity.id"></nlf-resolve-lungo-activity>
      </li>
    </span>

    <!--Note difference between federation, sections/activity and clubs! Section->show all club aircrafts?-->
    <span *ngIf="lungo.type_id == 14 || lungo.type_id == 19 || lungo.type_id == 2" class="float-right d-inline">
      <a class="mr-1" [routerLink]="['/organizations', lungo.id]" routerLinkActive="text-muted text-reset">
        <fa name="home" [fixed]="true"></fa>Hjem
      </a>

      <a class="mr-1" [routerLink]="['/organizations', lungo.id, 'locations']" routerLinkActive="text-muted text-reset">
        <fa name="map-marker" [fixed]="true"></fa>Steder
      </a>
      <!-- , lungo.id, 'ors'-->
      <a class="mr-1" [routerLink]="['/organizations']" routerLinkActive="text-muted text-reset">
        <fa name="eye" [fixed]="true"></fa>ORS
      </a>
      <a class="mr-1" [routerLink]="['/organizations', lungo.id, 'stats']" routerLinkActive="text-muted text-reset">
        <fa name="pie-chart" [fixed]="true"></fa>Stats
      </a>

      <a [routerLink]="['/organizations', lungo.id, 'aircraft']" routerLinkActive="text-muted text-reset">
        <fa name="plane" [fixed]="true"></fa>Fly
      </a>
    </span>

  </div>
</header>

  <router-outlet></router-outlet>
