<div *ngIf="dataReady">

  <header class="nlf-sticky-toolbar">

    <div class="container lead">
      <!-- TITLE -->

      <!-- <fa name="file-text-o" fixed="true"></fa>&nbsp;-->
      <!-- {{ data.tags | nlfOrsTags: ' / '}} -->
      #{{ observation.id }}
      <nlf-resolve-observation-tags [tags]="observation.tags" link="true" seperator="/"></nlf-resolve-observation-tags>&nbsp;
      <span *ngIf="!!observation.rating" class="badge badge-{{observation.rating | nlfOrsRatingCalc | nlfDynamicColor}}">{{ observation.rating | nlfOrsRatingCalc }}</span>
      <!-- WORKFLOW STATE -->
      <span class="pull-right">

        <span (click)="save()" *ngIf="changes" class="pointer badge badge-warning">
          <fa name="save" fixed="true"></fa>
        </span>

        <span class="badge badge-light pointer text-info" (click)="openModal(pageHelp)">
          <fa name="question" fixed="true"></fa>
        </span>

        <span class="badge badge-secondary">{{ observation._updated | amTimeAgo }}</span>
        <span class="badge badge-success">v{{ observation._version }}</span>
        <span class="pointer" [routerLink]="['/ors/fallskjerm/edit/workflow/', observation.id]">
          <nlf-resolve-observation-state [state]="observation.workflow.state" icon="true"></nlf-resolve-observation-state>
        </span>
      </span>
      <!-- /WORKFLOW STATE -->
    </div>
  </header>

  <div class="container">
    <nlf-ors-editor-title></nlf-ors-editor-title>
    <nlf-help key="ors-editor-title"></nlf-help>
    <code>
    {{ observation.tags | json}}
  </code>
    <hr>

    <nlf-ors-editor-type></nlf-ors-editor-type>
    <nlf-help key="ors-editor-type"></nlf-help>

    {{ observation.type }}
    <hr>

    <nlf-ors-editor-when></nlf-ors-editor-when>
    <nlf-help key="ors-editor-when"></nlf-help>
    {{ observation.when }}
    <hr>

    <nlf-ors-editor-flags></nlf-ors-editor-flags>
    <nlf-help key="ors-editor-flags"></nlf-help>
    {{ observation.flags | json }}
    <hr>

    <nlf-ors-editor-rating></nlf-ors-editor-rating>
    <nlf-help key="ors-editor-rating"></nlf-help>
    Rating for observation {{ observation.rating | json }}
    <hr>

    <!-- Location -->
    <nlf-ors-editor-location></nlf-ors-editor-location>
    <nlf-help key="ors-editor-location"></nlf-help>
    {{ observation.location | json }}
    <hr>

    <!-- Files -->
    <nlf-ors-editor-files [dropzone]="true" (fileChange)="save($event)"></nlf-ors-editor-files>
    <nlf-help key="ors-editor-files"></nlf-help>
    {{ observation.files | json }}

    <!-- ORGANIZATION -->
    <hr> HI:
    <div *ngFor="let hi of observation.organization.hi">
      <nlf-resolve-user [userid]="hi" link="true"></nlf-resolve-user>
    </div>
    HL:
    <nlf-ors-editor-people [who]="observation.organization.hl"></nlf-ors-editor-people>
    {{ observation.organization.hl | json }} HFL:
    <nlf-ors-editor-people [who]="observation.organization.hfl"></nlf-ors-editor-people>
    {{ observation.organization.hfl | json }} HM:
    <nlf-ors-editor-people [who]="observation.organization.hm"></nlf-ors-editor-people>
    {{ observation.organization.hm | json }} Pilot:
    <nlf-ors-editor-people [who]="observation.organization.pilot"></nlf-ors-editor-people>
    {{ observation.organization.pilot | json }}
    <nlf-help key="ors-editor-organization"></nlf-help>
    <hr> Involverte:
    <nlf-ors-editor-people [who]="observation.involved"></nlf-ors-editor-people>
    <nlf-help key="ors-editor-involved"></nlf-help>
    {{ observation.involved | json }}
    
    <hr>
    <!-- COMPONENTS -->
    <div class="nlf-toolbar">Forløpet
    <button (click)="openPreview(modalPreview, 'components', 'Forløpet')" class="pull-right btn btn-link">
      <fa name="eye" [fixed]="true"></fa>Preview
      </button>
      </div>
    <nlf-ors-editor-components></nlf-ors-editor-components>
    <hr>

    <!--  [(actions)]="observation.actions" -->
    <nlf-ors-editor-actions></nlf-ors-editor-actions>
    <nlf-help key="ors-editor-actions"></nlf-help>
    {{ observation.actions | json }}
    <hr>


    <div class="row">
      <div class="col-md-6">
        <nlf-ors-editor-ask></nlf-ors-editor-ask>
        <nlf-help key="ors-editor-ask"></nlf-help>
      </div>
      <div class="col-md-6">
        <nlf-ors-editor-ask-text></nlf-ors-editor-ask-text>
        <nlf-help key="ors-editor-ask-text"></nlf-help>
      </div>
    </div>
    
    {{ observation.ask | json }}
    <hr>

  </div>

  <div class="container">
    {{ observation |json }}
    <button (click)="save()" class="btn btn-primary btn-lg" [disabled]="!changes">Save</button>

  </div>

</div>
<div *ngIf="!dataReady">

  <nlf-ui-page-spinner size="5"></nlf-ui-page-spinner>
</div>

<!-- MODAL PREVIEW -->
<ng-template #modalPreview>
  <div class="modal-header">
    <h4 class="modal-title pull-left">
      {{ preview.title }}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="preview.what==='components'">
      <nlf-report-components-timeline [components]="observation.components"></nlf-report-components-timeline>
    </div>
  </div>
    <div class="modal-footer">
    <button class="btn btn-outline-dark" (click)="modalRef.close()">Ferdig</button>
  </div>
</ng-template>
<!-- /MODAL PREVIEW -->

<!-- MODAL DYNAMIC PAGE HELP -->
<ng-template #pageHelp>
  <div class="modal-header">
    <h4 class="modal-title pull-left">
      Hjelp for #{{ observation.id }}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      Du redigerer nå observasjon #{{ observation.id }}. Denne siden er det vi kaller editoren.
    </p>
    <p>
      For hver logiske bolk i editoren vil du kunne se hjelpetekst for respektive bolker ved å trykke på spørsmålstegnet
      <fa class="text-info" name="question" fixed="true"></fa> .
    </p>
    <p>
      Øverst på siden har du verktøylinjen som bla viser løpenummer, tittel og rating (til venstre) og til høyre finner du følgende:
    </p>
    <p>
      <fa class="text-info" name="question" fixed="true"></fa>

      <span (click)="save()" *ngIf="changes" class="pointer badge badge-warning">
        <fa name="save" fixed="true"></fa>
      </span>

      <span class="badge badge-secondary">{{ observation._updated | amTimeAgo }}</span>

      <span class="badge badge-success">v{{ observation._version }}</span>

      <nlf-resolve-observation-state [state]="observation.workflow.state" icon="true"></nlf-resolve-observation-state>

    </p>
    <p>
      <span class="badge badge-secondary">{{ observation._updated | amTimeAgo }}</span>
      sier noe om hvor lenge det er siden du har lagret. Klikker du på Denne vil du få opp informasjon om observasjonen du redigerer.

    </p>
    <p>
      Om du har endringer vil også
      <span class="badge pointer badge-warning">
        <fa name="save" fixed="true"></fa>
      </span>
      vises og indikerer at du kan lagre ved å klikke på det.
    </p>
    <p>
      <span class="badge badge-success">v{{ observation._version }}</span> viser hvilken versjon av observasjonen du jobber på. Dette er altså versjon {{ observation._version
      }}. Alle endringer tas vare på og ved å klikke på denne kan du se alle versjoner av denne observasjonen og videre kan
      du se endringer mellom versjonene.
    </p>
    <p>
      Når du er ferdig med å redigere skal du trykke på:
    </p>
    <p>
      <span class="pointer" [routerLink]="['/ors/fallskjerm/edit/workflow/', observation.id]" (click)="modalRef.close()">
        <nlf-resolve-observation-state [state]="observation.workflow.state" icon="true"></nlf-resolve-observation-state>
      </span>
    </p>
    <p>
      Denne knappen aktiverer arbeidsflyten (saksgangen) og du får et nytt vindu hvor du kan legge inn kommentarer før du godkjenner
      og sender videre eller avslår og sender tilbake (avhengig hvor du er).
    </p>
    <p>
      Om du har opprettet ved en feiltagelse eller noe annet og du ønsker å slette eller avbryte observasjonen så velger du "Trekk
      tilbake". Ombestemmer du deg etter å ha trukket observasjonen kan du "Gjenåpne".
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline-dark" (click)="modalRef.close()">Ferdig</button>
  </div>
</ng-template>
<!-- /MODAL HELP -->