<div class="modal-header">
  <h4 class="modal-title">
    Opprett ORS
  </h4>
  <span *ngIf="ENV._name!='prod'" class="badge badge-danger ml-3">{{ ENV._name }}</span>
  <button type="button" class="close pull-right" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body text-center">

  <!--Default discipline-->
  <div class="my-3" *ngIf="showDefault">

    <!-- QUICKSELECT DEFAULT DISCIPLINE
    <button *ngIf="!!settings && canCreateDefault()" (click)="createObservation(settings.default_discipline, settings.default_club, settings.default_activity)"
      class="btn btn-block btn-success btn-lg my-1">
      <fa name="plus" [fixed]="true"></fa>
      <nlf-resolve-lungo-organization [organization_id]="settings.default_discipline" show_type="false"></nlf-resolve-lungo-organization>
    </button>
    <div *ngIf="!!settings && !canCreateDefault()" class="alert alert-primary" role="alert">
      ORS <nlf-resolve-lungo-activity [activity_id]="settings.default_activity"></nlf-resolve-lungo-activity> er nede for vedlikehold
    </div>
    -->

    <nlf-ors-fallskjerm-create [defaultBtn]="true" *ngIf="!!settings && canCreateDefault() && settings.default_activity==109"></nlf-ors-fallskjerm-create>
    <nlf-ors-motor-create [defaultBtn]="true" *ngIf="!!settings && canCreateDefault() && settings.default_activity==238"></nlf-ors-motor-create>


    <!-- MORE -->
    <div class="my-3 pointer lead">
      <a (click)="showDefaultActivity=!showDefaultActivity;showDefault=!showDefault" class="btn btn-link">
        Flere valg
      </a>
    </div>
  </div>

  <!-- SHOW ALL DISCIPLINES IN DEFAULT ACTIVITY -->
  <div *ngIf="showDefaultActivity">
    <div class="my-3">
      <nlf-ors-fallskjerm-create *ngIf="settings.default_activity==109"></nlf-ors-fallskjerm-create>
      <nlf-ors-motor-create *ngIf="settings.default_activity==238"></nlf-ors-motor-create>
    </div>
    <div class="my-3 pointer lead">
      <a (click)="showAll=!showAll;showDefaultActivity=!showDefaultActivity" class="btn btn-link">
        Vis flere valg
      </a>
    </div>
  </div>

  <!--SHOW ALL ACTIVITIES -->
  <div *ngIf="showAll">
    <div class="my-3">
      <p class="lead">Fallskjerm</p>
      <nlf-ors-fallskjerm-create></nlf-ors-fallskjerm-create>
    </div>
    <div class="my-3">
      <p class="lead">Motorfly</p>
      <nlf-ors-motor-create></nlf-ors-motor-create>
    </div>
  </div>


</div>

<div class="modal-footer">
  <a class="btn btn-link mr-auto" [routerLink]="['/ors', getActivityName()]"><fa name="link" [fixed]="true"></fa> ORS {{ getActivityName() }}</a>
  <button class="btn btn-outline-dark" (click)="activeModal.close()">Avbryt</button>
</div>
