<span *ngIf="dataReady">
<div class="col-xs-12 col-md-12">
  <h3>Lokale</h3>
  <form>
    <div class="input-group mb-3">
      <input type="text" [(ngModel)]="actionLocal" name="actionLocal" class="form-control"  [ngModelOptions]="{standalone: true}">
      <span class="input-group-append">
        <button (click)="addActionLocal(actionLocal)" class="btn btn-primary" type="submit">
          <i class="fa fa-plus fa-fw"></i> Legg til</button>
      </span>
    </div>
  </form>
  <div class="clearfix"></div>
  <table class="table table-striped table-sm table-hover">
    <tr *ngFor="let a of actions.local; let idx = index">
      <td><strong>{{idx+1}}</strong>&nbsp;{{a}}</td>
      <td class="text-right">
        <i class="fa fa-times fa-fw pointer" (click)="removeActionLocal(idx)"></i>
      </td>
    </tr>
  </table>
</div>
<div class="clearfix"></div>

<div class="col-xs-12 col-md-12">
  <h3>Sentrale</h3>
  <form>
    <div class="input-group mb-3">
      <input type="text" [(ngModel)]="actionCentral" name="actionCentral" class="form-control"  [ngModelOptions]="{standalone: true}">
      <span class="input-group-append">
        <button (click)="addActionCentral(actionCentral)" class="btn btn-primary" type="submit">
          <i class="fa fa-plus fa-fw"></i> Legg til</button>
      </span>
    </div>
  </form>
  <div class="clearfix"></div>
  <table class="table table-striped table-sm table-hover">
    <tr *ngFor="let a of actions.central; let idx = index">
      <td><strong>{{idx+1}}</strong>&nbsp;{{a}}</td>
      <td class="text-right">
        <i class="fa fa-times fa-fw pointer" (click)="removeActionCentral(idx)"></i>
      </td>
    </tr>
  </table>
</div>
<div class="clearfix"></div>
</span>