<div>
  <span class="lead">Din vurdering: <nlf-help key="ors-editor-ask-text"></nlf-help></span><button type="button" class="btn btn-link pull-right" (click)="openModal(previewModal)">preview</button>
</div>
<!-- <p style="border:1px lightgrey solid;min-height:88px; width: 100%;" contenteditable="true" propValueAccessor="innerHTML"
    name="myFormName" [(ngModel)]="observation.ask.text[observation.workflow.state]" (ngModelChange)="textChange()" [mention]="list"
    class="form-control" [mentionConfig]="mconf">
  </p>-->
<div [ngClass]="{'bg-secondary': !observation.acl_user.w}" [disabled]="!observation.acl_user.w" class="bg-white border" style="min-height:100px; width: 100%;display: inline-block;overflow: hidden;padding:2px;" contenteditable="true"
  propValueAccessor="innerHTML" name="myAskDiv" [(ngModel)]="observation.ask.text[observation.workflow.state]" (ngModelChange)="debouncedUpdateText()" (paste)="onPaste($event)">
</div>
<button [disabled]="!observation.acl_user.w" class="btn btn-secondary pull-right" (click)="reset()">Reset</button>
<!--(searchTerm)="search($event)"
<p>Arr: {{ involved.currentArr | async | json }}</p>
<p>List: {{ list | json }}</p>
-->
<!--
{{ observation.ask.text[observation.workflow.state] | json }}
-->
<!--<div contenteditable="true" style="border:1px lightgrey solid;min-height:88px"
     [textContent]="ask.text[state]" (input)="ask.text[state]=$event.target.textContent"></div>-->
<!--<div #asktext contenteditable="true" [textContent]="ask.text[state]" (input)="model=asktext.innerText" style="border:1px lightgrey solid;min-height:88px" [mention]="items" class="form-control" (searchTerm)="search($event)" [mentionConfig]="mconf"></div>-->
<!--<div [(ngModel)]="ask.text[state]" [mention]="items" class="form-control" (searchTerm)="search($event)" [mentionConfig]="mconf" contenteditable="true" style="border:1px lightgrey solid;min-height:88px"></div>-->


<!-- MODAL -->
<ng-template #previewModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">
      Vurderinger
    </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <nlf-ors-report-ask-text [comments]="observation.ask.text" [audit]="observation.workflow.audit" [activity]="observation._model.type"></nlf-ors-report-ask-text>
    <!-- With excludes for current etc
    <nlf-ors-report-ask-text [comments]="observation.ask.text" [excludes]="[observation.workflow.state]" [activity]="observation._model.type"></nlf-ors-report-ask-text>
    <div class="lead mt-2">Din vurdering:</div>
    <div [ngClass]="{'bg-secondary': !observation.acl_user.w}" [disabled]="!observation.acl_user.w" class="bg-white border" style="min-height:100px; width: 100%;display: inline-block;overflow: hidden;padding:2px;" contenteditable="true"
      propValueAccessor="innerHTML" name="myAskDiv" [(ngModel)]="observation.ask.text[observation.workflow.state]" (ngModelChange)="debouncedUpdateText()">
    </div>-->
  </div>

  <div class="modal-footer">
    <button class="btn btn-outline-dark" (click)="modalRef.close()">
      <fa name="times" [fixed]="true"></fa>Ok
    </button>
  </div>
</ng-template>
