<div *ngIf="dataReady">

	<div class="card" style="width: 22rem;">
		<img class="card-img-top img-fluid" [src]="domSanitizer.bypassSecurityTrustUrl(avatar)" alt="Profilbilde">
		<div class="card-body">

			<h3>
				<nlf-resolve-user [userid]="user.id" [link]="false"></nlf-resolve-user>
				<span *ngIf="myself">
					<a [routerLink]="['/user/profile']">
						<fa name="edit" fixed="true"></fa>
					</a>
				</span>
			</h3>

		</div>
	</div>

</div>
<div *ngIf="!dataReady">
	<fa name="spinner" animation="pulse" size="3x"></fa>
</div>