<div class="container">

	<div class="row">

	<div class="col-3">

		<div class="card mb-3">
  		<img class="card-img-top h-100" [src]="domSanitizer.bypassSecurityTrustUrl(avatar)" alt="Card image cap">

			<div class="card-body">
		    <h4 class="card-title text-center"><app-resolve-user [id]=user.id></app-resolve-user></h4>
		    <p class="card-text"></p>
	  	</div>
			<div class="card-footer">
				<a href="#" class="btn btn-block btn-primary">Endre profilbilde</a>
			</div>
		</div>

	</div>

	<div class="col-9">
  <tabset [justified]="true">
    <tab heading="Profil" id="tab1">
			<p></p>
			<form role="form">
					<div class="form-group row">
							<label class="col-lg-3 col-form-label form-control-label">First name</label>
							<div class="col-lg-9">
									<input class="form-control" type="text" value="Jane">
							</div>
					</div>
					<div class="form-group row">
							<label class="col-lg-3 col-form-label form-control-label">Last name</label>
							<div class="col-lg-9">
									<input class="form-control" type="text" value="Bishop">
							</div>
					</div>
					<div class="form-group row">
							<label class="col-lg-3 col-form-label form-control-label">Email</label>
							<div class="col-lg-9">
									<input class="form-control" type="email" value="email@gmail.com">
							</div>
					</div>
					<div class="form-group row">
							<label class="col-lg-3 col-form-label form-control-label">Company</label>
							<div class="col-lg-9">
									<input class="form-control" type="text" value="">
							</div>
					</div>
					<div class="form-group row">
							<label class="col-lg-3 col-form-label form-control-label">Website</label>
							<div class="col-lg-9">
									<input class="form-control" type="url" value="">
							</div>
					</div>
					<div class="form-group row">
							<label class="col-lg-3 col-form-label form-control-label">Address</label>
							<div class="col-lg-9">
									<input class="form-control" type="text" value="" placeholder="Street">
							</div>
					</div>
					<div class="form-group row">
							<label class="col-lg-3 col-form-label form-control-label"></label>
							<div class="col-lg-6">
									<input class="form-control" type="text" value="" placeholder="City">
							</div>
							<div class="col-lg-3">
									<input class="form-control" type="text" value="" placeholder="State">
							</div>
					</div>
					<div class="form-group row">
							<label class="col-lg-3 col-form-label form-control-label">Time Zone</label>
							<div class="col-lg-9">
									<select id="user_time_zone" class="form-control" size="0">
											<option value="Hawaii">(GMT-10:00) Hawaii</option>
											<option value="Alaska">(GMT-09:00) Alaska</option>
											<option value="Pacific Time (US &amp; Canada)">(GMT-08:00) Pacific Time (US &amp; Canada)</option>
											<option value="Arizona">(GMT-07:00) Arizona</option>
											<option value="Mountain Time (US &amp; Canada)">(GMT-07:00) Mountain Time (US &amp; Canada)</option>
											<option value="Central Time (US &amp; Canada)" selected="selected">(GMT-06:00) Central Time (US &amp; Canada)</option>
											<option value="Eastern Time (US &amp; Canada)">(GMT-05:00) Eastern Time (US &amp; Canada)</option>
											<option value="Indiana (East)">(GMT-05:00) Indiana (East)</option>
									</select>
							</div>
					</div>
					<div class="form-group row">
							<label class="col-lg-3 col-form-label form-control-label">Username</label>
							<div class="col-lg-9">
									<input class="form-control" type="text" value="janeuser">
							</div>
					</div>
					<div class="form-group row">
							<label class="col-lg-3 col-form-label form-control-label">Password</label>
							<div class="col-lg-9">
									<input class="form-control" type="password" value="11111122333">
							</div>
					</div>
					<div class="form-group row">
							<label class="col-lg-3 col-form-label form-control-label">Confirm password</label>
							<div class="col-lg-9">
									<input class="form-control" type="password" value="11111122333">
							</div>
					</div>
					<div class="form-group row">
							<label class="col-lg-3 col-form-label form-control-label"></label>
							<div class="col-lg-9">
									<input type="reset" class="btn btn-secondary" value="Cancel">
									<input type="button" class="btn btn-primary" value="Save Changes">
							</div>
					</div>
			</form>
		</tab>

		<tab heading="Settings">

		</tab>

		<tab heading="Notifications">

		</tab>

		<tab heading="ORS" id="tab1">
		</tab>

  </tabset>


	</div>
	</div>
</div>
