<div class="container">
	<div class="row">
	<div class="col-3">

		<div class="card mb-3">
  		<img class="card-img-top h-100" [src]="domSanitizer.bypassSecurityTrustUrl(avatar)" alt="Card image cap">

			<div class="card-body">
		    <h4 class="card-title text-center"><app-resolve-user [id]=user.id></app-resolve-user></h4>
		    <p class="card-text"></p>
	  	</div>
			<div class="card-footer">
				<a href="#" class="btn btn-block btn-primary">Endre profilbilde</a>
			</div>
		</div>
	</div>

	<div class="col-9">
  	<tabset [justified]="true">
    	<tab heading="Setttings" id="tab1">

			<app-app-user-settings></app-app-user-settings>


			</tab>

			<tab heading="Medlemsskap">
				<app-app-user-membership></app-app-user-membership>
			</tab>

			<tab heading="Notifications">

			</tab>

			<tab heading="ORS" id="tab1">

			</tab>

  </tabset>


	</div>
	</div>
</div>
