<div class="btn-group" role="group">
  <span *ngFor="let key of (config.observation.ask | keys)">
    <button type="button" [ngClass]="{'btn border':true, 'btn-danger': isNegative(key), 
                  'btn-secondary': isNeutral(key), 
                  'btn-success': isPositive(key)}" (click)="flip(key)">{{ config.observation.ask[key]['label'] }}
    </button>
  </span>
</div>
<div class="clearfix"></div>
<div *ngIf="verbose">
  <br />
  <ul class="list-unstyled">
    <li>
      <span *ngIf="isPositive('knowledge')">
        <b>Gode</b> kunnskaper hadde innvirkning</span>
      <span *ngIf="isNeutral('knowledge')">Kunnskapen til de involverte hadde
        <b>ingen</b> innvirkning</span>
      <span *ngIf="isNegative('knowledge')">
        <b>Mangelfulle</b> kunnskaper hadde betydning</span>
    </li>
    <li>
      <span *ngIf="isPositive('skills')">
        <b>Gode</b> ferdigheter hadde innvirkning</span>
      <span *ngIf="isNeutral('skills')">Ferdighetene til de involverte hadde
        <b>ingen</b> innvirkning</span>
      <span *ngIf="isNegative('skills')">
        <b>Mangelfulle</b> ferdigheter hadde betydning</span>
    </li>
    <li>
      <span *ngIf="isPositive('attitude')">
        <b>Gode</b> holdninger hadde innvirkning</span>
      <span *ngIf="isNeutral('attitude')">Holdningene til de involverte hadde
        <b>ingen</b> innvirkning</span>
      <span *ngIf="isNegative('attitude')">
        <b>Dårlige</b> holdninger hadde betydning</span>
    </li>
  </ul>
</div>
