<span *ngIf="!!dataReady" class="overflow-auto">
  <ngx-table id="files_table" [configuration]="tableConf" [data]="data" [columns]="columns" [(pagination)]="pagination" (event)="eventEmitted($event)">

    <!--

      { key: 'content_type', title: 'Type', sort: true },
      { key: 'size', title: 'Size', sort: true },
      { key: '_created', title: 'Created', sort: true },

      { key: 'ref', title: 'Ref Collection', sort: true },
      { key: 'ref_id', title: 'ID', sort: true },
      { key: 'activity', title: 'Activity', sort: true },

      { key: 'owner', title: 'Owner', sort: true },

    -->
    <ng-template let-row>

      <td class="ngx-easy-table-small">
        {{ row.content_type }}
      </td>
      <td class="ngx-easy-table-small">
        {{ row.size | bytes : 2 }}
      </td>

      <td class="ngx-easy-table-small">
        {{ row._created | date:'yyyy-MM-dd HH:mm' }}
      </td>

      <td class="ngx-easy-table-small">
        {{ row.ref }}
      </td>

      <td class="ngx-easy-table-small">
        {{ ref_id }}
      </td>

      <td class="ngx-easy-table-small">
        {{ activity }}
      </td>

      <td class="ngx-easy-table-small">
        <nlf-resolve-lungo-person [person_id]="row.owner" [link]="false" [avatar]="true"></nlf-resolve-lungo-person>
      </td>

    </ng-template>
  </ngx-table>

  <a class="mx-3" [routerLink]="['/admin/files/orphan']">Orphan files</a>
  <a class="mx-3" [routerLink]="['/admin/files/duplicates']">Duplicate files</a>

</span>
<span *ngIf="!dataReady">
  <p class="align-middle text-center  text-secondary">
    <fa-icon icon="spinner" animation="pulse" size="3x"></fa-icon>
  </p>
</span>
