<ng-container *ngIf="dataReady">
  <form class="form-inline">
    <div class="form-group">
      <div class="input-group has-validation">
        <input [ngClass]="{'is-invalid': dateError, 'is-valid': !dateError }" type="text" [disabled]="!observation.acl_user.w"
          class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="date" [maxDate]="getMaxDate()"
          (ngModelChange)="debouncedUpdate()" ngbDatepicker #d="ngbDatepicker">

        <button [disabled]="!observation.acl_user.w" class="btn btn-outline-secondary" (click)="d.toggle()"
          type="button">
          <fa-icon [icon]="faCalendar"></fa-icon>
        </button>

        <div id="validationServerUsernameFeedback" class="invalid-feedback">
          {{ dateErrorFeedback }}
        </div>

      </div>
    </div>
  </form>
  <div>
    <ngb-timepicker [readonlyInputs]="!observation.acl_user.w" [(ngModel)]="time"
      (ngModelChange)="debouncedUpdate($event)"></ngb-timepicker>
  </div>
  <!--
<hr> {{ date | json }} og {{ time | json }}
<br> {{ maxDate }} {{ observation.when | json }}
-->
</ng-container>