<div class="col-md-12" style="height: 1200px; min-height: 500px;">
  <gridster [options]="options">
    
    <span *ngFor="let item of dashboard">
      <gridster-item [item]="item">
        Nuff
      </gridster-item>
    </span>

    <gridster-item [item]="{ cols: 20, rows: 10, y: 2, x: 0 }">
      <ngx-charts-pie-chart [labels]="true" [results]="hopptyper"></ngx-charts-pie-chart>

    </gridster-item>

    <gridster-item [item]="{ cols: 10, rows: 10, y: 2, x: 0 }">
      <div>
        <nlf-ors-fallskjerm-last [number]="8"></nlf-ors-fallskjerm-last>
      </div>
    </gridster-item>

    <gridster-item [item]="{ cols: 10, rows: 10, y: 2, x: 0 }">
      <div class="item-buttons">
        <fa name="arrows-alt" fixed="true" class="drag-handler pointer"></fa>
        <fa name="close" fixed="true" class="remove-button pointer" (click)="removeItem($event)" (touchstart)="removeItem($event)">
        </fa>
      </div>

      <div class="gridster-item-content" (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()">
        <nlf-ors-fallskjerm-todo-table></nlf-ors-fallskjerm-todo-table>
      </div>
    </gridster-item>

    <gridster-item [item]="{ cols: 10, rows: 10, y: 2, x: 0 }">
      <ngx-charts-bar-vertical [legend]="false" [xAxis]="true" [yAxis]="true" [showGridLines]="true" [results]="bar"></ngx-charts-bar-vertical>
    </gridster-item>
  </gridster>

</div>