<div *ngIf="dataReady">
  <div class="row">
    <div class="col-md-3">
      <img *ngIf="!!aircraft.image" [src]="domSanitizer.bypassSecurityTrustUrl(aircraft.image)" class="me-3 ml-0 p-0 img-fluid" alt="{{ callsign }}">
      <img *ngIf="!aircraft.image" src="https://dummyimage.com/64x64/595659/e3e4e8" class="me-3 ml-0 p-0 img-fluid">
    </div>
    <div class="col-md-9">
      <h5 class="mt-0">{{ callsign }}</h5>
      {{ aircraft.model || model || 'Ukjent modell'}} {{ aircraft.manufacturer || manufacturer || 'Ukjent produsent' }}
    </div>
  </div>
</div>
<nlf-ui-component-spinner *ngIf="!dataReady"></nlf-ui-component-spinner>
