/* You can add global styles to this file, and also import other style files */
.nlf-sticky-toolbar {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #f7f7f7;
  border-bottom: 1px solid #868E96;
  width: 100%;
  position:sticky;
  position: -webkit-sticky;
  top:0;
  z-index: 999;
  overflow:hidden;
}

.nlf-toolbar {
  padding: 0.65rem 1.05rem;
  margin-bottom: 0;
  background-color: #f7f7f7;
  border-bottom: 1px solid #868E96;
  width: 100%;
  overflow:hidden;
}

.nlf-page-center{
    position:absolute;
    top:50%;
    left:50%;
    padding:10px;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 999999;
}

.ngx-easy-table-small{font-size: 0.8rem !important;}

.pointer {cursor: pointer;}

/* NLF colors **/

.nlf-text-blue {
  color: #004465;
}
.nlf-text-light {
  color: #5bbfcc;
}
.nlf-text-dark {
  color: #1d1d1b;
}
.nlf-text-orange {
  color: #f07f00;
}
.nlf-text-purple {
  color: #93648d;
}

.nlf-bg-blue {
  background-color: #004465;
}
.nlf-bg-light {
  background-color: #5bbfcc;
}
.nlf-bg-dark {
  color: #1d1d1b;
}
.nlf-bg-orange {
  background-color: #f07f00;
}
.nlf-bg-purple {
  background-color: #93648d;
}

/* Startbootstrap */
.business-header {
  height: 50vh;
  min-height: 300px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.card {
  height: 100%;
}

/** Diffing **/
ins{
    color: black;
    background: #bbffbb;
  }
  
  del{
    color: black;
    background: #ffbbbb;
  }