/* You can add global styles to this file, and also import other style files */
html,body {
  height: 100%;
}

nlf-root, main {
  display: block;
  height: 100%;
}

.nlf-sticky {
  background: white;
  margin-bottom: 0;
  width: 100%;
  position:sticky;
  position: -webkit-sticky;
  top:0;
  z-index: 999;
  overflow:hidden;
}

.nlf-sticky-toolbar {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #f7f7f7;
  border-bottom: 1px solid #868E96;
  width: 100%;
  position:sticky;
  position: -webkit-sticky;
  top:0;
  z-index: 999;
  overflow:hidden;
}

.nlf-toolbar {
  padding: 0.65rem 1.05rem;
  margin-bottom: 0;
  background-color: #f7f7f7;
  border-bottom: 1px solid #868E96;
  width: 100%;
  overflow:hidden;
}

.nlf-page-center{
    position:absolute;
    top:50%;
    left:50%;
    padding:10px;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 999999;
}

/** TRIBUTE JS **/
.tribute-container {
  position: absolute;
  /** Only when triangle 
  margin-top: 8px;*/
  top: 0px;
  left: 0;
  height: auto;
  /*overflow: auto; */
  overflow-y: auto; 
  overflow-x: hidden;
  max-height: 300px;
  max-width: 500px;
  display: block;
  z-index: 9990;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
}
/** Triangle up, don't work with overflow auto... 
.tribute-container:before {
  content: "";
  position: absolute;
  left: 2px;
  top: -8px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #DDDDDD transparent;
  z-index: 9998;
}
.tribute-container:after {
  content: "";
  position: absolute;
  left: 4px;
  top: -6px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 6px 6px;
  border-color: transparent transparent #f7f7f7 transparent;
  z-index: 9999;
}
**/

.tribute-container ul {
  margin: 0;
  margin-top: 0px;
  padding: 0;
  list-style: none;
  background-color: #f7f7f7;
}
.tribute-container li {
  padding: 5px 5px;
  cursor: pointer; 
}
.tribute-container li.highlight, .tribute-container li:hover {
  background: #DDDDDD;
}
.tribute-container li span {
  font-weight: bold; 
}
.tribute-container li.no-match {
  cursor: default; 
}
.tribute-container .menu-highlighted {
  font-weight: bold; 
}
  
.ngx-easy-table-small{font-size: 0.8rem !important;}

.pointer {cursor: pointer;}
.not-allowed:hover { cursor: not-allowed; }
.drag-handle:hover { cursor: move; }

/* NLF colors **/

.nlf-text-blue {
  color: #004465;
}
.nlf-text-light {
  color: #5bbfcc;
}
.nlf-text-dark {
  color: #1d1d1b;
}
.nlf-text-orange {
  color: #f07f00;
}
.nlf-text-purple {
  color: #93648d;
}

.nlf-bg-blue {
  background-color: #004465;
}
.nlf-bg-light {
  background-color: #5bbfcc;
}
.nlf-bg-dark {
  color: #1d1d1b;
}
.nlf-bg-orange {
  background-color: #f07f00;
}
.nlf-bg-purple {
  background-color: #93648d;
}

/* Startbootstrap */
.business-header {
  height: 50vh;
  min-height: 300px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.card {
  height: 100%;
}

/** Diffing **/
ins{
    color: black;
    background: #bbffbb;
  }
  
  del{
    color: black;
    background: #ffbbbb;
  }

/** Fullscreen modals **/
.modal-full {
    top: 0;
    min-width: 100%;
    margin: 0;
}

.modal-full .modal-content {
    min-height: 100vh;
}

/** ngx-charts responsive **/
.chart-wrapper {
  display: flex;
  overflow: hidden;
  min-height: 16em;
}
