agm-map {
  min-height: 300px;
  height: 400px;
  width: 100%;
  }

  h3.report-title {
    background: #eeeeee;
    padding: 2px;
    border: 1px 0px 1px 0px solid grey;
    width: 100%;
  }

  .narrative {
    white-space: pre-wrap;
  }
