<div class="row">
  <div class="col-md-3">
    <button [disabled]="disabled" class="btn btn-primary btn-block" (click)="add();openModal(modal, modalIdx)">
      <fa-icon [icon]="faPlus"></fa-icon>Add Airspace
    </button>
  </div>
  <div class="col-md-9">
    <div *ngFor="let space of airspace; let idx = index">
      <nlf-ors-editor-tag-e5x-render classes="badge bg-danger" [items]="space.attributes?.airspaceName?.value" path="E5X.Occurrence.AirSpace.AirspaceName"></nlf-ors-editor-tag-e5x-render>
      &nbsp;
      <nlf-ors-editor-tag-e5x-render classes="badge bg-danger" [items]="space.attributes.airspaceClass.value" path="E5X.Occurrence.AirSpace.AirspaceClass"></nlf-ors-editor-tag-e5x-render>
      &nbsp;
      <nlf-ors-editor-tag-e5x-render classes="badge bg-danger" [items]="space.attributes.airspaceType.value" path="E5X.Occurrence.AirSpace.AirspaceType"></nlf-ors-editor-tag-e5x-render>
      &nbsp;
      <fa-icon class="mx-1" [icon]="faEdit" (click)="openModal(modal, idx)"></fa-icon>
      <fa-icon class="mx-1" *ngIf="!disabled" [icon]="faClose" (click)="delete(idx)"></fa-icon>
    </div>

  </div>
</div>

<!-- AIRSPACE MODAL -->
<ng-template #modal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">
      Airspace
    </h4>
    <button type="button" class="close float-end" aria-label="Close" (click)="modalRef.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">

    <div class="row">

      <div class="col-md-4">
        <nlf-ors-editor-tag-e5x [disabled]="disabled" [(items)]="modalValue.attributes.airspaceName.value" path="E5X.Occurrence.AirSpace.AirspaceName" id="AirspaceName"></nlf-ors-editor-tag-e5x>
      </div>
      <div class="col-md-4">
        <nlf-ors-editor-tag-e5x [disabled]="disabled" [(items)]="modalValue.attributes.airspaceClass.value" path="E5X.Occurrence.AirSpace.AirspaceClass" id="AirspaceClass"></nlf-ors-editor-tag-e5x>
      </div>
      <div class="col-md-4">
        <nlf-ors-editor-tag-e5x [disabled]="disabled" [(items)]="modalValue.attributes.airspaceType.value" path="E5X.Occurrence.AirSpace.AirspaceType" id="AirspaceType"></nlf-ors-editor-tag-e5x>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <nlf-ors-editor-tag-e5x [disabled]="disabled" [(items)]="modalValue.attributes.firuirName.value" path="E5X.Occurrence.AirSpace.FIRUIRName" id="FIRUIRName"></nlf-ors-editor-tag-e5x>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <nlf-ors-editor-tag-e5x [disabled]="disabled" [(items)]="modalValue.attributes.specialActivities.value" path="E5X.Occurrence.AirSpace.SpecialActivities" id="SpecialActivities"></nlf-ors-editor-tag-e5x>
      </div>
    </div>
    <div *ngIf="devDebug" class="row">
      AC: {{ airspace | json }}
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-outline-dark" (click)="modalRef.close()">
      <fa-icon [icon]="faTimes" [fixedWidth]="true"></fa-icon>Avbryt
    </button>
    <button [disabled]="disabled" [ngClass]="{'disabled': disabled}" class="btn btn-success" (click)="modalUpdate()">
      <fa-icon [icon]="faCheck" [fixedWidth]="true"></fa-icon>Oppdater
    </button>
  </div>
</ng-template>
